

{% load static %}
<!-- 
<nav class="navbar  fixed-top  navbar-expand-lg navbar-light bg-light " id="sectionsNav2">
		<div class="container">

		<div class="navbar-translate">
			<a>
			  <img src="{% static 'img/logos/logo2.jpg' %}" alt="" style="width:80px; height:80px;  ">
			</a>               
			<button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
			   <span class="sr-only">Toggle navigation</span>
			   <span class="navbar-toggler-icon"></span>
			   <span class="navbar-toggler-icon"></span>
			   <span class="navbar-toggler-icon"></span>
			</button>
		</div>




		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		
		<ul class="navbar-nav mr-auto ">
			
		<li class="nav-item dropdown">
				
		<a class="nav-link dropdown-toggle" href="#" id="themesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>
		<span>	Courses	</span>
		</a>
		<div class="dropdown-menu dropdown-themes border-0 shadow animate slideIn" aria-labelledby="themesDropdown">
		<div class="d-lg-flex flex-row">
		<div class="dropdown-themes-callout d-none d-lg-flex p-5 text-center text-black align-items-center">
		<div>
				<img style="width:60%" src="{% if c.image %} {{ c.image.cdn_url }} {% else %} {% static 'img/default.png' %} {% endif %}" >
		
		<p>first title</p>
		<a href="{{ c.get_absolute_url }}"  class="btn btn-theme btn-xl">Browse All first <i class="fas fa-angle-right"></i></a>
		</div>
		</div>
		<div class="py-lg-3">
	   <h6 class="dropdown-header">Sub Categories:</h6>	
		<a class="dropdown-item font-weight-bold" href="/themes/"><i class="far fa-paint-brush-alt fa-fw"></i> Browse All Themes</a>
		<div class="dropdown-divider"></div>

	

	
		<a class="dropdown-item" href="/themes/blog/">subname</a>


	
		</div>
		</div>
		</div>
		</li>
		<li class="nav-item dropdown">
				<i class="pe-7s-user"></i>
		<a class="nav-link dropdown-toggle" href="#" id="themesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Subjects	
		</a>
		<div class="dropdown-menu dropdown-themes border-0 shadow animate slideIn" aria-labelledby="themesDropdown">
		<div class="d-lg-flex flex-row">
		<div class="dropdown-themes-callout d-none d-lg-flex p-5 text-center text-black align-items-center">
		<div>
				<img style="width:60%" src="{% if c.image %} {{ c.image.cdn_url }} {% else %} {% static 'img/default.png' %} {% endif %}" >
			
		<p>first title</p>
		<a href="{{ c.get_absolute_url }}"  class="btn btn-theme btn-xl">Browse All first <i class="fas fa-angle-right"></i></a>
		</div>
		</div>
		<div class="py-lg-3">
	   <h6 class="dropdown-header">Sub Categories:</h6>	
		<a class="dropdown-item font-weight-bold" href="/themes/"><i class="far fa-paint-brush-alt fa-fw"></i> Browse All Themes</a>
		<div class="dropdown-divider"></div>

	

	
		<a class="dropdown-item" href="/themes/blog/">subname</a>


	
		</div>
		</div>
		</div>
		</li>
		<li class="nav-item dropdown">
				<i class="pe-7s-user"></i>
		<a class="nav-link dropdown-toggle" href="#" id="themesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		How it works	
		</a>
		<div class="dropdown-menu dropdown-themes border-0 shadow animate slideIn" aria-labelledby="themesDropdown">
		<div class="d-lg-flex flex-row">
		<div class="dropdown-themes-callout d-none d-lg-flex p-5 text-center text-black align-items-center">
		<div>
				<img style="width:60%" src="{% if c.image %} {{ c.image.cdn_url }} {% else %} {% static 'img/default.png' %} {% endif %}" >
			
		<p>first title</p>
		<a href="{{ c.get_absolute_url }}"  class="btn btn-theme btn-xl">Browse All first <i class="fas fa-angle-right"></i></a>
		</div>
		</div>
		<div class="py-lg-3">
	   <h6 class="dropdown-header">Sub Categories:</h6>	
		<a class="dropdown-item font-weight-bold" href="/themes/"><i class="far fa-paint-brush-alt fa-fw"></i> Browse All Themes</a>
		<div class="dropdown-divider"></div>

	

	
		<a class="dropdown-item" href="/themes/blog/">subname</a>


	
		</div>
		</div>
		</div>
		</li>











		</ul>

		</div>









		</div>
		</nav> -->
		
		<style>
	/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border:none;
  background-color:#ffffff!important;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  
  /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
  padding-top:0px;
  padding-bottom:0px;
}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
  padding:.5rem .5rem;
  margin:0 .25rem;
}


.navbar .dropdown-menu{
    width:40%;

	float:right;
/*  height of nav-item  */
  top:72px;
  
  display:block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  
}

  
 

  
  /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}
  
  .navbar .dropdown-menu {
    border: 1px solid rgba(160, 160, 160, 0.15);
     background-color: rgb(0, 0, 0);
  }

}



		</style>
<script>

$(document).ready(function() {
 // executes when HTML-Document is loaded and DOM is ready

// breakpoint and up  
$(window).resize(function(){
	if ($(window).width() >= 980){	

      // when you hover a toggle show its dropdown menu
      $(".navbar .dropdown-toggle").hover(function () {
         $(this).parent().toggleClass("show");
         $(this).parent().find(".dropdown-menu").toggleClass("show"); 
       });

        // hide the menu when the mouse leaves the dropdown
      $( ".navbar .dropdown-menu" ).mouseleave(function() {
        $(this).removeClass("show");  
      });
  
		// do something here
	}	
});  
  
  

// document ready  
});
</script>

<nav class="navbar  fixed-top  navbar-expand-lg  bg-primary" color-on-scroll="100" id="sectionsNav">
		<div class="container" >

	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
			
		
						<li>
								<div class="dropdown ">
										{% if request.user.is_authenticated %}
									 
									<button class="dropdown-toggle btn btn-primary btn-round btn-block"  type="button" id="multiDropdownMenu" data-toggle="dropdown2" aria-haspopup="true" aria-expanded="false">
										{{ user.first_name }} {{ user.last_name }}
									</button>
									<div class="dropdown-menu dropdown-with-icons  "  >
									<a class="dropdown-item " href="/view/profile" ><i class="material-icons">person_add</i>  Profile
									</a>
									<a class="dropdown-item"  onclick="ajax_logout();"><i class="material-icons">person_add</i> Logout
									</a>
								</div>   
									{% else %}
									<button class=" btn btn-primary  btn-block"  type="button" >
											<a style="color:#ffffff" href="/redirected_login"><i class="material-icons"></i>  Sign In
											</a>
									</button>
								
									{% endif %}
								 
								
								</div>
			
					</li>
			</ul>

		</div>
	
	
</div>
	</nav>