

{% load static %}
<!-- 
<nav class="navbar  fixed-top  navbar-expand-lg navbar-light bg-light " id="sectionsNav2">
		<div class="container">

		<div class="navbar-translate">
			<a>
			  <img src="{% static 'img/logos/logo2.jpg' %}" alt="" style="width:80px; height:80px;  ">
			</a>               
			<button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
			   <span class="sr-only">Toggle navigation</span>
			   <span class="navbar-toggler-icon"></span>
			   <span class="navbar-toggler-icon"></span>
			   <span class="navbar-toggler-icon"></span>
			</button>
		</div>




		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		
		<ul class="navbar-nav mr-auto ">
			
		<li class="nav-item dropdown">
				
		<a class="nav-link dropdown-toggle" href="#" id="themesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>
		<span>	Courses	</span>
		</a>
		<div class="dropdown-menu dropdown-themes border-0 shadow animate slideIn" aria-labelledby="themesDropdown">
		<div class="d-lg-flex flex-row">
		<div class="dropdown-themes-callout d-none d-lg-flex p-5 text-center text-black align-items-center">
		<div>
				<img style="width:60%" src="{% if c.image %} {{ c.image.cdn_url }} {% else %} {% static 'img/default.png' %} {% endif %}" >
		
		<p>first title</p>
		<a href="{{ c.get_absolute_url }}"  class="btn btn-theme btn-xl">Browse All first <i class="fas fa-angle-right"></i></a>
		</div>
		</div>
		<div class="py-lg-3">
	   <h6 class="dropdown-header">Sub Categories:</h6>	
		<a class="dropdown-item font-weight-bold" href="/themes/"><i class="far fa-paint-brush-alt fa-fw"></i> Browse All Themes</a>
		<div class="dropdown-divider"></div>

	

	
		<a class="dropdown-item" href="/themes/blog/">subname</a>


	
		</div>
		</div>
		</div>
		</li>
		<li class="nav-item dropdown">
				<i class="pe-7s-user"></i>
		<a class="nav-link dropdown-toggle" href="#" id="themesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Subjects	
		</a>
		<div class="dropdown-menu dropdown-themes border-0 shadow animate slideIn" aria-labelledby="themesDropdown">
		<div class="d-lg-flex flex-row">
		<div class="dropdown-themes-callout d-none d-lg-flex p-5 text-center text-black align-items-center">
		<div>
				<img style="width:60%" src="{% if c.image %} {{ c.image.cdn_url }} {% else %} {% static 'img/default.png' %} {% endif %}" >
			
		<p>first title</p>
		<a href="{{ c.get_absolute_url }}"  class="btn btn-theme btn-xl">Browse All first <i class="fas fa-angle-right"></i></a>
		</div>
		</div>
		<div class="py-lg-3">
	   <h6 class="dropdown-header">Sub Categories:</h6>	
		<a class="dropdown-item font-weight-bold" href="/themes/"><i class="far fa-paint-brush-alt fa-fw"></i> Browse All Themes</a>
		<div class="dropdown-divider"></div>

	

	
		<a class="dropdown-item" href="/themes/blog/">subname</a>


	
		</div>
		</div>
		</div>
		</li>
		<li class="nav-item dropdown">
				<i class="pe-7s-user"></i>
		<a class="nav-link dropdown-toggle" href="#" id="themesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		How it works	
		</a>
		<div class="dropdown-menu dropdown-themes border-0 shadow animate slideIn" aria-labelledby="themesDropdown">
		<div class="d-lg-flex flex-row">
		<div class="dropdown-themes-callout d-none d-lg-flex p-5 text-center text-black align-items-center">
		<div>
				<img style="width:60%" src="{% if c.image %} {{ c.image.cdn_url }} {% else %} {% static 'img/default.png' %} {% endif %}" >
			
		<p>first title</p>
		<a href="{{ c.get_absolute_url }}"  class="btn btn-theme btn-xl">Browse All first <i class="fas fa-angle-right"></i></a>
		</div>
		</div>
		<div class="py-lg-3">
	   <h6 class="dropdown-header">Sub Categories:</h6>	
		<a class="dropdown-item font-weight-bold" href="/themes/"><i class="far fa-paint-brush-alt fa-fw"></i> Browse All Themes</a>
		<div class="dropdown-divider"></div>

	

	
		<a class="dropdown-item" href="/themes/blog/">subname</a>


	
		</div>
		</div>
		</div>
		</li>











		</ul>

		</div>









		</div>
		</nav> -->
		
		<style>
	/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border:none;
  background-color:#ffffff!important;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  
  /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
  padding-top:0px;
  padding-bottom:0px;


}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
  padding:.5rem .5rem;
  margin:0 .5rem;
  color: #9c27b0
}
/* makes the dropdown full width  */
.navbar .dropdown {position:static;}

.navbar .dropdown-menu{
  width:100%;

	float:right;
/*  height of nav-item  */
  top:65px;
  
  display:block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  
}
/* makes the dropdown full width  */
.navbar .dropdown2 {position: relative;}


.navbar .dropdown-menu2 {
  width:40%;

	float:right;
/*  height of nav-item  */
  top:65px;
  
  display:block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  
}
  
 

  
  /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}
  
  .navbar .dropdown-menu {
    border: 1px solid rgba(160, 160, 160, 0.15);
     background-color: rgb(0, 0, 0);
  }

}



		</style>
<script>

$(document).ready(function() {
 // executes when HTML-Document is loaded and DOM is ready

// breakpoint and up  
$(window).resize(function(){
	if ($(window).width() >= 980){	

      // when you hover a toggle show its dropdown menu
      $(".navbar .dropdown-toggle").hover(function () {
         $(this).parent().toggleClass("show");
         $(this).parent().find(".dropdown-menu").toggleClass("show"); 
       });

        // hide the menu when the mouse leaves the dropdown
      $( ".navbar .dropdown-menu" ).mouseleave(function() {
        $(this).removeClass("show");  
      });
  
		// do something here
	}	
});  
  
  

// document ready  
});
</script>

<nav class="navbar  fixed-top  navbar-expand-lg  " style="background-color:#ffffff!important; box-shadow: 0px 1px 10px #999;"  color-on-scroll="100" id="sectionsNav">
		<div class="container" >
		
	<a href="/landpageprod" >
		<img src="{% static 'img/logos/logo2.jpg' %}" alt="" style="width:100px; height:100px; padding: 5px; ">			</a>  
				<button    class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
				 <span class="sr-only">Toggle navigation</span>
				 <span class="navbar-toggler-icon"></span>
				 <span class="navbar-toggler-icon"></span>
				 <span class="navbar-toggler-icon"></span>
			</button>
	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
			
				<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle  " href="#" id="navbarDropdown"   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="material-icons">library_books</i>Courses
										</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	
						
						<div class="container">
							<div class="row">
					
								<div class=" col-lg-4">
										<div class="card card-blog text-center">
												<div class="card-header card-header-image">
													
													
													<a href="/courses">
															<img class="img" src="static/img/coursespic.jpg" >
												
													</a>
												
												</div>
												<div class="card-body">
														<i class="material-icons text-info">check</i>

														<p class="card-description">
																Earn a professional or academic accreditation
															</p>
<br>

															{% if request.user.is_authenticated %}
															<a href="/courses" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >View All Courses</a>

														  
															{% else %}
															<a href="/redirected_login" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >View All Courses</a>

														
															{% endif %}
														
															
												</div>
											</div>
	
				
							</div>
							<div class="col-lg-4">
									<div class="card card-blog text-center">
											<div class="card-header card-header-image">
												<a href="/trainingbits">
														<img class="img" src="static/img/trainingbitspic.jpg" >
											
												</a>
											</div>
											<div class="card-body">
											
													<i class="material-icons text-info">check</i>
														
														   
													<p class="card-description">
															Gain new and improved personal leadership skills
														</p>
														 
														
													
														
														{% if request.user.is_authenticated %}
														<a href="/trainingbits" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >View All Training bits</a>

													  
														{% else %}
														<a href="/redirected_login" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >View All Training bits</a>

													
														{% endif %}
											</div>
										</div>

			
						</div>
						<div class="col-lg-4">
								<div class="card card-blog text-center">
										<div class="card-header card-header-image">
											<a  href="https://www.facebook.com/leadershipacademyafrica/" target="_blank" >
													<img class="img" src="static/img/dip.png" >
										
											</a>
										</div>
										<div class="card-body">
												<i class="material-icons text-info">check</i>

												<p class="card-description">
													Engage with a powerful network of leaders and alumni, accelerate Africa’s growth													</p>
														<a href="https://www.facebook.com/leadershipacademyafrica/" target="_blank" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >Connect<i class="material-icons">share</i></a>
												
													
										</div>
									</div>

		
					</div>
					<!-- <div class="col-md-3">
							<div class="card card-blog text-center">
									<div class="card-header card-header-image">
										<a href="#">
												<img class="img" src="static/img/degree.jpg" >
									
										</a>
									</div>
									<div class="card-body">
											<p class="card-description">
													Earn a professional or academic accreditation
												</p>
													<a href="/redirected_login" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >View All</a>
											
												
									</div>
								</div>

	
				</div> -->
							</div>
						</div>
						<!--  /.container  -->
	
	
					</div>
				</li>
				<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle  " href="#" id="navbarDropdown"   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="material-icons">public</i>OUR STORY
										</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	
						
						<div class="container">
							<div class="row">
					
								<div class="col-lg-4">
										<div class="">
												<div class="card-body ">
											
		
													<p class="card-description">
													</p>
		<br><br>
													<a href="/aboutus" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23); " >Who we are</a>
		
												</div>
											</div> 
	
				
							</div>
							<div class="col-lg-4">
								
									<div class="">
											<div class="card-body ">
										
	
												<p class="card-description">
												</p>
	<br><br>
												<a href="/sdgdigitallab" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >Our innovation</a>
	
											</div>
										</div> 
											</div>
						<div class="col-lg-4">
								<div class="container">
										<div class="row">


										</div>
									  </div>

									  <div class="">
											<div class="card-body ">
										
	
												<p class="card-description">
												</p>
	<br><br>
												<a href="/aboutus" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >Our educational Partners</a>
	
											</div>
										</div> 

		
					</div>
			
							</div>
						</div>
						<!--  /.container  -->
	
	
					</div>
				</li>
		
				<li class="nav-item">
						<a class="nav-link "  href="/aboutus">
							<i class="material-icons">wb_sunny</i>Why Enroll?

							
						</a>
						</li>
		
				<li class="nav-item">
						<a class="nav-link  "  href="/scholarship-application-form">
								<i class="material-icons">school</i>Apply for Scholarship
	
							</a>
			
						</li>
						
						<li>
								
										{% if request.user.is_authenticated %}
										<button class=" btn btn-primary btn-sm"  type="button" >
												<a style="color:#ffffff" href="/view/profile"><i class="material-icons"></i>  <strong>{{ user.first_name }} {{ user.last_name }}
												</a>
										</button>

							
									{% else %}
									<button class=" btn btn-primary  btn-block"  type="button" >
											<a style="color:#ffffff" href="/redirected_login"><i class="material-icons"></i>  Sign In
											</a>
									</button>
								
									{% endif %}
								 
								
							
			
					</li>
					<li class="nav-item ">
					
						<div  id="google_translate_element"></div>

					</li>
			</ul>

		</div>
	
	
</div>
	</nav>
	<style>

		.goog-te-gadget {
		  font-family: Roboto, 'Open Sans', sans-serif!important;
		  text-transform: uppercase;
		}
		.goog-te-gadget-simple  {
		  background-color: rgba(84, 2, 92, 0.2)!important;
		  border: 1px solid rgba(255,255,255,0.50) !important;
		  padding: 2px!important;
		  border-radius: 4px!important;
		  font-size: 0.8rem!important;
		  cursor: pointer;
		
		}
		.goog-te-menu2 {
		  max-width: 100%;
		}
		.goog-te-menu-value {
		  color: #fff !important;&:before {
			font-family: 'Material Icons';
			content: "\E927";
		
			font-size: 2rem;
		 
		  } 
		}
		.goog-te-menu-value span:nth-child(5) {
		  display:none;
		}
		.goog-te-menu-value span:nth-child(3) {
		  border:none!important;
		  font-family: 'Material Icons';
		  &:after {
			font-family: 'Material Icons';
			content: "\E5C5";
			font-size: 1.5rem;
		
		  }  
		}
		
		.goog-te-gadget-icon {
			background-image: none!important;
			display: none;
		   
		}
		
		
		.goog-te-banner-frame.skiptranslate {display: none!important;
		} 
		body {top: 0px!important;}
		
		/* ================================== *\
			Mediaqueries
		\* ================================== */
		@media (max-width: 667px) {
			#google_translate_element {
				bottom: calc(100% - 50% - 53px);
				left: 16px!important;
				width: 100%!important;
				goog-te-gadget {
					width:100%!important;
				}
				.skiptranslate {
					width:100%!important;			
				}
				.goog-te-gadget-simple {
					width: calc(100% - 32px)!important;
					text-align: center;
				}	
			}
		}
		
		
		
		
		</style>
		
		
			<script type="text/javascript">
				function googleTranslateElementInit() {
				  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,sw,fr,en,mt,it,tl,pa,pt,th,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
				}
							  
			$('document').ready(function () {
			
			
			// RESTYLE THE DROPDOWN MENU
			$('#google_translate_element').on("click", function () {
			
			// Change font family and color
			$("iframe").contents().find(".goog-te-menu2-item div, .goog-te-menu2-item:link div, .goog-te-menu2-item:visited div, .goog-te-menu2-item:active div, .goog-te-menu2 *")
				.css({
					'color': '#544F4B',
					'font-family': 'Roboto',
									'width':'100%'
				});
			// Change menu's padding
			$("iframe").contents().find('.goog-te-menu2-item-selected').css ('display', 'none');
				
					// Change menu's padding
			$("iframe").contents().find('.goog-te-menu2').css ('padding', '0px');
			
			// Change the padding of the languages
			$("iframe").contents().find('.goog-te-menu2-item div').css('padding', '20px');
			
			// Change the width of the languages
			$("iframe").contents().find('.goog-te-menu2-item').css('width', '100%');
			$("iframe").contents().find('td').css('width', '100%');
			
			// Change hover effects
			$("iframe").contents().find(".goog-te-menu2-item div").hover(function () {
				$(this).css('background-color', '#9c27b0').find('span.text').css('color', 'white');
			}, function () {
				$(this).css('background-color', 'white').find('span.text').css('color', '#544F4B');
			});
			
			// Change Google's default blue border
			$("iframe").contents().find('.goog-te-menu2').css('border', 'none');
			
			// Change the iframe's box shadow
			$(".goog-te-menu-frame").css('box-shadow', '0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3)');
			
			
			
			// Change the iframe's size and position?
			$(".goog-te-menu-frame").css({
				'height': '100%',
				'width': '100%',
				'top': '0px'
			});
			// Change iframes's size
			$("iframe").contents().find('.goog-te-menu2').css({
				'height': '100%',
				'width': '100%'
			});
			});
			});
				</script>
				<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		
		
		
		