<!-- <form enctype="multipart/form-data" name="course_form" id="course_form">
    <input type="hidden"
            id="id_id"
          name="id"
         value={% if form.instance.id != None %}"{{ form.instance.id }}"{% else %}0{% endif %}>
    {% for field in form %}
    <div class="row">
        <div class="form-group">
            <div class="fieldWrapper">
                <label class="col-sm-3 control-label">
                    {{ field.label }}
                </label>
                <div class="col-sm-9">
                    {{ field }}
                </div>
            </div>
        </div>
    </div>
    <br/>
    {% endfor %}
</form> -->
<!--  
<form enctype="multipart/form-data" name="course_form" id="course_form">
    <input type="hidden"
    id="id_id"
  name="id"
 value={% if form.instance.id != None %}"{{ form.instance.id }}"{% else %}0{% endif %}>
    {% for field in form %} 
    <div class="card-body">
       <div class="form-group">
         <div class="input-group">
           <div class="input-group-prepend">
                   <span class="input-group-text">
                           {{ field.label }}
                         </span>
           </div>
           {{ field }}
         </div>
       </div>

     </div>
     {% endfor %}
   </form>  -->




<form  action=""  method="POST" enctype="multipart/form-data" name="course_form" id="course_form">
    <input type="hidden"
    id="id_id"
  name="id"
 value={% if form.instance.id != None %}"{{ form.instance.id }}"{% else %}0{% endif %}>
    {% csrf_token %}
 

  
    <div class="card-body">
     
          <div class="row">
              <div class="col">
              <div class="form-group">
              
              </div>
              </div>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                  <span class="input-group-text">
                  <i class="material-icons"></i>Course title:
                  </span>
              </div>
  
              {{ course_form.title}}
        
        </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                  <span class="input-group-text">
                  <i class="material-icons"></i>Course Sub title :
                  </span>
              </div>
              {{ course_form.sub_title}}
        
        </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                  <span class="input-group-text">
                  <i class="material-icons"></i>category:
                  </span>
              </div>
              {{ course_form.category}}
        
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text">
            <i class="material-icons"></i>Course Short description :
            </span>
        </div>
        {{ course_form.description}}
  

        
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
    <span class="input-group-text">
    <i class="material-icons"></i>Course Price :
    </span>
</div>
{{ course_form.price}}



</div>

  <div class="input-group">
    <div class="input-group-prepend">
    <span class="input-group-text">
    <i class="material-icons"></i>Course Start date :
    </span>
</div>
{{ course_form.start_date}}

</div>

<div class="input-group">
    <div class="input-group-prepend">
    <span class="input-group-text">
    <i class="material-icons"></i>Course finishdate :
    </span>
</div>
{{ course_form.finish_date}}

</div>
        
              
       </div>

       
          <div class="col-md-6 col-sm-8">
         
            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
              <div class="fileinput-new thumbnail img-raised">
               
              </div>
              <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
              <div>
                <span class="btn btn-raised btn-round btn-default btn-file">
                  <span class="fileinput-new">Select image</span>
               
                  <input id="id_image" name="image" type="file">

                </span>
                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
              </div>
            </div>
          </div>
      

         
   </form> 