

   
<div class="section section-blog">
      
        <div class="container">
          <div class="row " >
                {% for course in courses %} 
            <div class="col-md-3">
            <!-- <h3 class="title text-center">{{ course.title }}</h3>  -->
              <div class="card" style=" box-shadow: 0 8px 16px 0 #c5c5c5; padding:10px; border-radius: 6px;">
                <div class="card-header card-header-image" >
                        {% if course.image != None and course.image != '' %}
                  <a href="#pablo">
                    <img src="{{ course.image.url }}" height="100%" width="100%"   alt="">
                    {% else %}
                    <img src="static/img/dummy.png"  alt="">
                    <!-- Missing Image! -->
                {% endif %}
                  </a>
                </div>
                <div class="card-body">
                
                  <h4 class="card-title text-center">
                    <a href="#pablo">{{ course.title }}</a>
                  </h4>
                  {% if teacher == course.teacher %}
                  <h6 class="card-title text-center">
                        [You cannot enroll in a class you currently Instruct!]
                      </h6>
                      {% else %}                
                <h6 class="card-title text-center">
                <a href="#pablo">{{ course.sub_title }}</a>
                {% endif %}
                </h6 >
                  <p class="card-text">
                        {{ course.description }}
                  </p>
              <p class="card-description" >Durration: {{ course.start_date }} to {{ course.finish_date }}</p>



              <button onclick="ajax_enroll('{{ course.id }}');"
              type="button"
       {% if teacher == course.teacher %}
          disabled=""
       {% endif %}
       {% if student not in course.students.all %}
                id="view_{{ course.id }}_btn"
             name="view_{{ course.id }}_btn"
             class="btn btn-lg btn-info">
               <i class="fa fa-pencil"></i> Enroll 
       {% else %}
             class="btn btn-lg btn-warning">
           <i class="fa fa-level-down"></i> Continue
       {% endif %}
   </button>

                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    

<!-- 
      <div class="section section-blog">
            <div class="container">
              <h2 class="section-title">Latest Articles</h2>
              <div class="row">
                <div class="col-md-4">
                  <div class="card card-blog">
                    <div class="card-header card-header-image">
                      <a href="#pablo">
                        <img src="../assets/img/dg6.jpg" alt="">
                      </a>
                    </div>
                    <div class="card-body">
                      <h6 class="card-category text-rose">Trends</h6>
                      <h4 class="card-title">
                        <a href="#pablo">Learn how to wear your scarf with a floral print shirt</a>
                      </h4>
                      <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                        <div class="card card-blog">
                          <div class="card-header card-header-image">
                            <a href="#pablo">
                              <img src="../assets/img/dg6.jpg" alt="">
                            </a>
                          </div>
                          <div class="card-body">
                            <h6 class="card-category text-rose">Trends</h6>
                            <h4 class="card-title">
                              <a href="#pablo">Learn how to wear your scarf with a floral print shirt</a>
                            </h4>
                            <p class="card-description">
                              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                            <div class="card card-blog">
                              <div class="card-header card-header-image">
                                <a href="#pablo">
                                  <img src="../assets/img/dg6.jpg" alt="">
                                </a>
                              </div>
                              <div class="card-body">
                                <h6 class="card-category text-rose">Trends</h6>
                                <h4 class="card-title">
                                  <a href="#pablo">Learn how to wear your scarf with a floral print shirt</a>
                                </h4>
                                <p class="card-description">
                                  Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                              </div>
                            </div>
                          </div>
                
            
             
         
              </div>
            </div>
          </div> -->