asgiref==3.2.3
certifi==2019.9.11
chardet==3.0.4
cloudinary==1.19.1
dj-database-url==0.5.0
Django==2.2.10
django-jet==1.0.8
django-paypal==1.0.0
django-ranged-response==0.2.0
django-simple-captcha==0.5.11
gunicorn==19.9.0
idna==2.8
mock==3.0.5
Pillow==6.0.0
pipenv==2018.11.26
psycopg2==2.8.4
psycopg2-binary==2.8.2
python-dateutil==2.8.1
python-decouple==3.1
pytz==2019.3
pyuploadcare==2.6.0
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.7
virtualenv==16.7.7
virtualenv-clone==0.5.3
whitenoise==3.3.1
