{% extends 'ecommerce_app/shortcoursedetail/base.html' %}


{% load static%}
{% block content %}
{% include 'publicpages/welcomenav.html' %}
			<!-- ============================ Course Detail ================================== -->
			<section class="bg-light" >
          
                    <div class="container" style="margin-top:5em">
                    
                      <div class="row">
                           
                        <div class="col-lg-8 col-md-8">
                        
                          <div class="inline_edu_wrap">
                            <div class="inline_edu_first">
                            
                              <h3 class="card-title">
                             Set Up Your Details
                              </h3>
                          
                            </div>	
                       
                          </div>
                  
                          
                          <!-- All Info Show in Tab -->
                          <div class="tab_box_info mt-4">
                          
                          
                            <div class="tab-content" id="pills-tabContent">
                              
                              <!-- Overview Detail -->
                              <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                <!-- Overview -->
                                <div class="edu_wraper">
                          	<!-- Row -->
                              {% include "account/productionpages/pages/updateuserform.html" with form=profile_form %}

                                <!-- /Row -->
                                </div>
                                
                          
                              </div>
                              
                         
                            </div>
                          </div>
                          
                        </div>
                        
                    		<!-- Sidebar -->
						<div class="col-lg-4 col-md-4">
						
      	
                                
                                <div class="edu_wraper">
                                    <h4 class="edu_title"><i class="ti-user"></i> {{ user.first_name }} {{ user.last_name }}</h4>
                                    <ul class="edu_list right">
                                        <li><i class="ti-files"></i>Courses Enrolled:<strong></strong></li>
                                        <li><i class="ti-tag"></i>Certificates:<strong></strong></li>
                                        <li><i class="ti-time"></i>Date Joined:<strong>{{user.date_joined }}</strong></li>
                                        
                                    </ul>
                                </div>
                                
                            </div>
                        
                      </div>
                    
                    </div>
                  </section>
                  <!-- ============================ Course Detail ================================== -->
                  
          
          
          
          
          
          
       	
   

    {% include "landpage/main/js.html" %}  

    <div id="ajax_logout"></div>
    
    <!-- Modal -->
    <div id="ajax_modal_placeholder"
       name="ajax_modal_placeholder"></div>
    <!-- end modal -->
    <script>
            /**
             *  Function will call AJAX function to enroll into a specific course for the
             *  current logged on user.
             */
            function ajax_enroll(course_id)
            {
                var url = 'enroll';
        
                $.ajax( url, {
                   data: {
                       'course_id' : course_id,
                       'csrfmiddlewaretoken': '{{ csrf_token }}',
                   },
                   type: 'post',
                   success: function(result) {
                       // success code execution here
                       if (result.status == 'success')
                       {
                           window.location = 'course/' + course_id + '/announcements';
                       }
                   },
                   error: function(xhr,status,error) {
                       // error code here
                   },
                   complete: function(xhr,status) {
                       // completion code here
                   }
                });
            }
        </script>
    
    <script>
        function ajax_refresh_enrollments_table()
        {
            $.ajax( 'enrollment_table', {
                data: {
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                type: 'post',
                   success: function(result) {
                   // success code execution here
                   $('#ajax_table_placeholder').html(result); // Update UI.
                },
                error: function(xhr,status,error) {
                   // error code here
                },
                complete: function(xhr,status) {
                   // completion code here
                }
            });
        }
        
        function ajax_continue_course(course_id)
        {
            var url = 'enroll';
        
            $.ajax( url, {
               data: {
                   'course_id' : course_id,
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
               },
               type: 'post',
               success: function(result) {
                   // success code execution here
                   if (result.status == 'success')
                   {
                        window.location = 'course/' + course_id + '/announcement';
                   }
               },
               error: function(xhr,status,error) {
                   // error code here
               },
               complete: function(xhr,status) {
                   // completion code here
               }
            });
        }
        function ajax_disenroll_modal(course_id)
        {
            $('#del_' + course_id + '_btn').prop("disabled", true); // Lock button
            $.ajax( 'disenroll_modal', {
                data: {
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
                   'course_id': course_id,
                },
                type: 'post',
                success: function(result) {
                   // success code execution here
                   $('#ajax_modal_placeholder').html(result); // Update UI.
                   $('#disenroll_modal').modal();             // Unhide view.
                },
                error: function(xhr,status,error) {
                   // error code here
                },
                complete: function(xhr,status) {
                   // completion code here
                }
            });
        }
           $(document).ready(function(){
            $('#disenroll_modal').on('hidden.bs.modal', function (e) {
                $('#ajax_modal_placeholder').html('');
                $('#del_{{ course.id }}_btn').prop("disabled", false); // Unlock button
            });
        });
        
        /**
         *  Function will call AJAX function to delete the teacher's course.
         */
        function ajax_disenroll_course(course_id)
        {
            $('#del_' + course_id + '_btn').prop("disabled", true); // Lock button
            $.ajax( 'disenroll', {
                data: {
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
                   'course_id' : course_id
                },
                type: 'post',
                success: function(result) {
                   // success code execution here
                   if (result.status == 'success')
                   {
                        $('#disenroll_modal').modal('hide');
                        ajax_refresh_enrollments_table();
                   }
                },
                error: function(xhr,status,error) {
                   // error code here
                },
                complete: function(xhr,status) {
                   // completion code here
                   $('#del_' + course_id + '_btn').prop("disabled", false); // Unlock button
                }
            });
        }
    </script>
    {% endblock content %}