{% extends 'productionpages/base3.html' %}

{% load staticfiles%}
{% block content %}




<div class="col-lg-12 col-md-12 text-center">
    <!-- Tabs with icons on Card -->

    <div class="card card-nav-tabs">
      <div class="card-header card-header-primary">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul class="nav nav-tabs" data-tabs="tabs">
        
              <li class="nav-item">
                <a class="nav-link" href="#courses" data-toggle="tab">
                  <i class="material-icons">edit</i> edit Profile
                </a>
              </li>
         
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body ">
        <div class="tab-content text-center">
          <div class="tab-pane active" id="courses">

            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <div class="container">
            <div class="row flex-lg-nowrap">
              <div class="col">
                <div class="row">
                  <div class="col mb-3">
                    <div class="card">
                      <div class="card-body">
                        <div class="e-profile">
                          <br>     <br>     <br>
                          <div class="row">
                            <div class="col-12 col-sm-auto mb-6">
                           
                               
                                <div class="mx-auto"  >
                                  <a href="#pablo">
                                    <img  style="width: 180px " src="static/img/studentavatar.png"   class="img-raised rounded-circle img-fluid"/>
                                  </a>
                                </div>
                            
                            </div>
                            <div class="col d-flex flex-column flex-sm-row justify-content-between mb-4">
                              <div class="text-center text-sm-left mb-2 mb-sm-0">
                                <h3 class="pt-sm-2 pb-1 mb-0 text-nowrap"> <span class= "text-muted" >Name : </span> {{ user.first_name }} {{ user.last_name }}</h3>
                                <p class="mb-0"><span class= "text-muted" >Username: </span>  @{{ user.first_name }}{{ user.last_name }}</p>
                                <!-- <div class="text-muted"><small>Last seen 2 hours ago</small></div> -->
                                <!-- <div class="mt-2">
                                  <button class="btn btn-primary" type="button">
                                    <i class="fa fa-fw fa-camera"></i>
                                    <span>Change Photo</span>
                                  </button>
                                </div> -->
                              </div>
                              <div class="text-center text-sm-right">
                                <span class="badge badge-secondary">student</span>
                                <div class="text-muted"><small>Joined {{user.date_joined }}</small></div>
                              </div>
                            </div>
                          </div>
                          <ul class="nav nav-tabs">
                            <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                          </ul>
                          <div class="tab-content pt-3">
                            <div class="tab-pane active">

                                {% include "account/productionpages/pages/updateuserform.html" with form=profile_form %}

                      
                           
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            
                  <div class="col-12 col-md-3 mb-3">
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="px-xl-3">
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-outline-primary" onclick="ajax_logout();" ><i class="material-icons"></i>Logout</button>
                              </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title font-weight-bold">Support</h6>
                        <p class="card-text">Get fast, free help from our friendly assistants.</p>
                        <button type="button" class="btn btn-primary">Contact Us</button>
                      </div>
                    </div>
                  </div>
                </div>
            
              </div>
            </div>
            </div>

      
          </div>
      
    
        </div>
      </div>
    </div>
  
          </div>
          {% include "landpage/main/js.html" %}  

<div id="ajax_logout"></div>
    {% endblock content %}