
<form  action=""  method="POST" enctype="multipart/form-data" name="profile_form" id="profile_form">
    {% csrf_token %}
  
    {% for field in profile_form %} 
    <div class="card-body">
       <div class="form-group">
         <div class="input-group">
           <div class="input-group-prepend">
                   <span class="input-group-text">
                           {{ field.label }}
                         </span>
           </div>
           {{ field }}
        
         </div>
       </div>

     </div>
     {% endfor %}

     <div class="row">
            <div class="col d-flex justify-content-center">
              <button class="btn btn-lg btn-primary"  type="submit" accept="image/*" >Save changes</button>                  
                           </div>
          </div>
         
   </form>
  


    