{% extends 'productionpages/basewithbg.html' %}

{% load staticfiles%}
{% block content %}

<div class="page-header " style="   margin-top:-20px;   margin-bottom:-190px;" data-parallax="false" >
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">About Us</h1>
          <h4>The Leadership and Development Academy (LADA) is established in Africa as a joint initiative of Springdale College UK now known as ForMission College, accredited by York St John University and Newman University in Birmingham, Africa for SDGs and ICY AFRICA which runs the Springdale Foundation and other global partners.</h4>
        </div>
      </div>
    </div>
  </div> 
  <!-- --------------------------------------------------------------- -->
  <div class="container">
  <div class=" " style="padding:8px;  color:#fff">
      <h3 class="title " style="color:#fff">About the LADA fellowship</h3>

      <h5>This Fellowship comes with a scholarship for tuition which covers a 12- month period, comprising a rigorous training, research and practical application programme on Leadership and development.
              The 12-Month Diploma programme is divided into a six-month intensive training program, a three-month research work and a three-month community application or attachment to an SDG Work Camp at the model community to undertake an independent prototype of their research project.
            </h5>
  </div>

  <div class="card card-plain card-blog">
      <div class="row">
          <div class="col-md-5">
              <div class="card-header card-header-image">
                <img class="img img-raised" src="static/img/bg1.jpg">
              </div>
            </div>
        <div class="col-md-7">
          <div class="description " style="padding:8px; color:#fff">
              <h5>The Fellowship programme is designed to expose junior African leaders to the complexities of Leadership, Governance and development issues facing the African continent with the aim of equipping them with the knowledge, skills and attitude necessary for transformative leadership and sustainable development.
                  </h5>
              <h5>
                      Each learner will be expected as an individual or a group of fellows to come up with an innovative, implementable and scalable idea that meets the social, economic, environmental and climate challengers facing Africa.
              </h5>
              <h5>                            
                      The LADA aims to build a new community of transformational leaders with integrity and practical application on Leadership, Governance and Development.</h5>
          </div>
        </div>
      </div>
    </div>
</div>


  <!--     *********    PROJECTS 4     *********      -->
  <div class="projects-4" id="projects-4">
      <div class="container">

              <div class=" col-md-12 ">
                  <div class="card" style="box-shadow: 0 6px 22px 0 #000000;">
                    <div class="card-body">
                        <br>
                        <h3 class=" card-title text-center">
                           To this end, the LADA undertakes to do the following:
                          </h3>
                     
<br>


                          <ul class="description  " >
                            <li >
                              <h5> Courtesy of the Springdale Foundation, LADA will undertake a taught Springdale College DIPLOMA on Leadership and Development including mentoring and institutional attachments where necessary and available.</h5>  
                            </li>
                          <li>
                              <h5>Courtesy of the Africa For SDGS, leaders will learn more about the SDGs and will be introduced to the SDGs Lab to incubate research ideas that creates awareness, activates action on SDGs and encourages innovation for realization of the Global Goals with a focus on holistic and integrated approaches.</h5>
                          </li>
                          <li>
                              <h5>Consolidating partnerships with Other development partners and the international community highlighting on their objectives and visions with the intention to create awareness on their practical contributions and share existing opportunities for the beneficiaries.</h5>

                          </li>
                          <li>
                            <h5>
                                Courtesy of the Africa For SDGS, leaders will learn more about the SDGs and will be introduced to the SDGs Lab to incubate research ideas that creates awareness, activates action on SDGs and encourages innovation for realization of the Global Goals with a focus on holistic and integrated approaches.

                            </h5>
                          </li>
                          <li>

                            <h5>
                               Creating and strengthening innovation to realize the <strong>Africa We Want</strong> as envisioned by the Africa Union through homemade solutions and engagements.

                            </h5>
                          </li>
                          </ul>
                          
    
                  
                    </div>
                  </div>
                </div>
        </div>
      </div>
    
    

    <!--     *********    END PROJECTS 4      *********      -->






    <footer class="footer footer-black footer-big" >
            <div class="container">
              <div class="content">
                <div class="row">
                  <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>The Leadership and Development Academy (LADA) is established in Africa as a joint initiative of Springdale College UK now known as ForMission College, accredited by York St John University and Newman University in Birmingham, Africa for SDGs and ICY AFRICA which runs the Springdale Foundation and other global partners.
                    </p>
                  </div>
                  <div class="col-md-4">
                    <h5>Social Feed</h5>
                    <div class="social-feed">
                      <div class="feed-line">
                        <i class="fa fa-twitter"></i>
                        <p>.</p>
                      </div>
                      <div class="feed-line">
                        <i class="fa fa-twitter"></i>
                        <p>.</p>
                      </div>
                      <div class="feed-line">
                        <i class="fa fa-facebook-square"></i>
                        <p>.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h5>Trending Topics</h5>
                    <div class="gallery-feed">
                      <img src="assets/img/faces/card-profile6-square.jpg" class="img img-raised rounded" alt="">
                      <img src="assets/img/faces/christian.jpg" class="img img-raised rounded" alt="">
                      <img src="assets/img/faces/card-profile4-square.jpg" class="img img-raised rounded" alt="">
                      <img src="assets/img/faces/card-profile1-square.jpg" class="img img-raised rounded" alt="">
                      <img src="assets/img/faces/marc.jpg" class="img img-raised rounded" alt="">
                      <img src="assets/img/faces/kendall.jpg" class="img img-raised rounded" alt="">
                      <img src="assets/img/faces/card-profile5-square.jpg" class="img img-raised rounded" alt="">
                      <img src="assets/img/faces/card-profile2-square.jpg" class="img img-raised rounded" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <ul class="float-left">
                <li>
                  <a href="#pablo">
                  FAQS
                  </a>
                </li>
                <li>
                  <a href="#pablo">
                    Payment
                  </a>
                </li>
                <li>
                  <a href="#pablo">
                    Contact Us
                  </a>
                </li>
              </ul>
              <div class="copyright float-right">
                Copyright &#xA9;
                <script>
                  document.write(new Date().getFullYear())
                </script> Leadership and Development Academy.
              </div>
            </div>
          </footer>
          {% include "landpage/main/js.html" %}  
          <div id="ajax_response_login"></div>
          <div id="ajax_response_register"></div>
          <div id="ajax_logout"></div>
  {% endblock content %}