{% extends 'productionpages/basewithbgvendors.html' %}

{% load staticfiles %}
{% block content %}

<nav  class="navbar  navbar-transparent fixed-top   navbar-expand-lg " color-on-scroll="100" id="sectionsNav" >

<!-- <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav"> -->
        <div class="container">
          <div class="navbar-translate">
              <a>
                  <img src="{% static 'img/logos/logo7.png' %}" alt="" style="width:130px; height:130px;  ">
                </a>  
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">

                    <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                       Our story
                            </a>
                            <div class="dropdown-menu dropdown-with-icons">
                              <a href="/aboutus"   class="dropdown-item">
                                <i class="material-icons">line_style</i>Who we are
                              </a>
                              <!-- <a href=""  class="dropdown-item">
                                <i class="material-icons">line_style</i> What we do 
                              </a> -->
                              <!-- <a href=""  class="dropdown-item">
                                <i class="material-icons">content_paste</i> FAQs
                              </a> -->
                            </div>
                          </li>     
                  
          
                      <li class="dropdown nav-item">
                          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <!-- <i class="material-icons">apps</i> Components --> How it works
                          </a>
                          <div class="dropdown-menu dropdown-with-icons">
                            <a href="/enrollnow"  class="dropdown-item">
                              <i class="material-icons">layers</i>How to enroll
                            </a>
                            <a href="/studentfaqs"  class="dropdown-item">
                              <i class="material-icons">content_paste</i> FAQs
                            </a>
                          </div>
                        </li>
                    <li class="dropdown nav-item">
                      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <!-- <i class="material-icons">apps</i> Components --> Benefits
                      </a>
                      <div class="dropdown-menu dropdown-with-icons">
                        <a href="/benefits"  class="dropdown-item">
                          <i class="material-icons">layers</i> As a student
                        </a>
                        <!-- <a href=""  class="dropdown-item">
                          <i class="material-icons">line_style</i> Future Leader
                        </a> -->
                        <!-- <a href=""  class="dropdown-item">
                          <i class="material-icons">content_paste</i> 
                        </a> -->
                      </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                   Our Innovations
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                          <a href="sdgdigitallab"  class="dropdown-item">
                            <i class="material-icons">layers</i>SDG Digital Lab
                          </a>
                          <a href="/sdgfaqs"  class="dropdown-item">
                            <i class="material-icons">content_paste</i> FAQs
                          </a>
                        </div>
                      </li>
          <!--       
                    <li class="button-container nav-item iframe-extern">
                      <a href="#" target="_blank" class="btn  btn-primary  btn-round btn-block">
                        <i class="material-icons">shopping_cart</i> Cart
                      </a>
                    </li> -->
          
               
                        <li class="nav-item ">
                            <a href="/contactus" class=" nav-link  " >
                              <i class="material-icons"></i> Contact us
                            </a>
             
                          </li>
                   

              <li class="button-container nav-item iframe-extern">
                <a href="/courses" class="btn  btn-primary   btn-round btn-block">
                    Enroll Now
                </a>
              </li>
             
         
            
          
            
                  <li>
                      <div class="dropdown ">
                          {% if request.user.is_authenticated %}
                         
                        <button class="dropdown-toggle btn btn-primary btn-round btn-block"  type="button" id="multiDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ user.first_name }} {{ user.last_name }}
                        </button>
                        <div class="dropdown-menu dropdown-with-icons" >
                        <a class="dropdown-item" href="view/profile" ><i class="material-icons">person_add</i>  Profile
                        </a>
                        <a class="dropdown-item"  onclick="ajax_logout();"><i class="material-icons">person_add</i> Logout
                        </a>
                      </div>   
                        {% else %}
                        <button class="dropdown-toggle btn btn-primary btn-round btn-block"  type="button" id="multiDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          My Account      
                        </button>
                        <div class="dropdown-menu dropdown-with-icons" >
                          <a class="dropdown-item" onclick="ajax_popup_register();"><i class="material-icons">person_add</i>  student Sign up
                          </a>
                         <a class="dropdown-item" onclick="ajax_popup_login();" ><i class="material-icons">person_add</i>  student Login
                        </a>
                        {% endif %}
                       
                        </div>
                      </div>
        
                </li>
    
           
            </ul>
          </div>
        </div>
      </nav>



      <div class="page-header" data-parallax="false" style="background-image: url('../assets/img/bg8.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="title" style="color:#fff">Benefits of Enrolling to Leadership and development Academy </h2>
              <!-- <h4 style="color:#fff" >If you can't find an answer to your question. Kindly don't hesitate to contact us here  <a href="/contactus" >Contact us </a> </h4>  -->
              <br>
       
          </div>
        </div>
      </div>
     
   
    </div>

    <div class="projects-4" id="projects-4" style="margin-top:-200px">
        <div class="container">
  
                <div class=" col-md-12 ">
                    <div class="card" style="box-shadow: 0 6px 22px 0 #000000;">
                      <div class="card-body">
                          <!-- <h3 class="card-title text-center">
                             To this end, the LADA undertakes to do the following:
                            </h3> -->
                 
  <br>
  
  
                            <ul class="card-title  " >
                              <li >
                                <h5> Courtesy of the Springdale Foundation, LADA will undertake a taught Springdale College DIPLOMA on Leadership and Development including mentoring and institutional attachments where necessary and available.</h5>  
                              </li>
                            <li>
                                <h5>Courtesy of the Africa For SDGS, leaders will learn more about the SDGs and will be introduced to the SDGs Lab to incubate research ideas that creates awareness, activates action on SDGs and encourages innovation for realization of the Global Goals with a focus on holistic and integrated approaches.</h5>
                            </li>
                            <li>
                                <h5>Consolidating partnerships with Other development partners and the international community highlighting on their objectives and visions with the intention to create awareness on their practical contributions and share existing opportunities for the beneficiaries.</h5>
  
                            </li>
                            <li>
                              <h5>
                                  Courtesy of the Africa For SDGS, leaders will learn more about the SDGs and will be introduced to the SDGs Lab to incubate research ideas that creates awareness, activates action on SDGs and encourages innovation for realization of the Global Goals with a focus on holistic and integrated approaches.
  
                              </h5>
                            </li>
                            <li>
  
                              <h5>
                                 Creating and strengthening innovation to realize the <strong>Africa We Want</strong> as envisioned by the Africa Union through homemade solutions and engagements.
  
                              </h5>
                            </li>
                            </ul>
                            
      
                    
                      </div>
                    </div>
                  </div>
          </div>
        </div>



    
    <footer class="footer footer-black footer-big" >
            <div class="container">
              <div class="content">
                <div class="row">
                  <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>The Leadership and Development Academy (LADA) is established in Africa as a joint initiative of Springdale College UK now known as ForMission College, accredited by York St John University and Newman University in Birmingham, Africa for SDGs and ICY AFRICA which runs the Springdale Foundation and other global partners.
                    </p>
                  </div>
                  <div class="col-md-4">
                    <h5>Social Feed</h5>
                    <div class="social-feed">
                      <div class="feed-line">
                        <i class="fa fa-twitter"></i>
                        <p>.</p>
                      </div>
                      <div class="feed-line">
                        <i class="fa fa-twitter"></i>
                        <p>.</p>
                      </div>
                      <div class="feed-line">
                        <i class="fa fa-facebook-square"></i>
                        <p>.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h5>Trending Topics</h5>
                    <div class="gallery-feed">
                      <img src="assets/img/faces/card-profile6-square.jpg" class="img img-raised rounded" alt="">
                      <img src="assets/img/faces/christian.jpg" class="img img-raised rounded" alt="">
                      <img src="assets/img/faces/card-profile4-square.jpg" class="img img-raised rounded" alt="">
                      <img src="assets/img/faces/card-profile1-square.jpg" class="img img-raised rounded" alt="">
                      <img src="assets/img/faces/marc.jpg" class="img img-raised rounded" alt="">
                      <img src="assets/img/faces/kendall.jpg" class="img img-raised rounded" alt="">
                      <img src="assets/img/faces/card-profile5-square.jpg" class="img img-raised rounded" alt="">
                      <img src="assets/img/faces/card-profile2-square.jpg" class="img img-raised rounded" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <ul class="float-left">
                <li>
                  <a href="#pablo">
                  FAQS
                  </a>
                </li>
                <li>
                  <a href="#pablo">
                    Payment
                  </a>
                </li>
                <li>
                  <a href="#pablo">
                    Contact Us
                  </a>
                </li>
              </ul>
              <div class="copyright float-right">
                Copyright &#xA9;
                <script>
                  document.write(new Date().getFullYear())
                </script> Leadership and Development Academy.
              </div>
            </div>
          </footer>  
          {% include "landpage/main/js.html" %}  
          <div id="ajax_response_login"></div>
          <div id="ajax_response_register"></div>
          <div id="ajax_logout"></div>        
              {% endblock %}