
 <!--     *********    BIG FOOTER     *********      -->
  <footer class="footer footer-black footer-big">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-md-4">
            <h5>About Us</h5>
            <div class="copyright">The Leadership and Development Academy (LADA) is established in Africa as a joint initiative of Springdale College UK now known as ForMission College, accredited by York St John University and Newman University in Birmingham, Africa for SDGs and ICY AFRICA which runs the Springdale Foundation and other global partners.
            </div>
          </div>
          <div class="col-md-4">
            <h5>Facebook Social Feed</h5>
            <div class="social-feed">
              <div class="feed-line">
             
                <div class="fb-page" data-href="https://www.facebook.com/leadershipacademyafrica/" data-tabs="timeline" data-width="340" data-height="220" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/leadershipacademyafrica/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/leadershipacademyafrica/">Fb timeline from leadership and developmet academy africa</a></blockquote></div>
              </div>
              <!-- <div class="feed-line">
                <i class="fa fa-twitter"></i>
                <p>.</p>
              </div>
              <div class="feed-line">
                <i class="fa fa-facebook-square"></i>
                <p>.</p>
              </div> -->
            </div>
          </div>
          <div class="col-md-4">
              <h5>Twitter Social Feed</h5>
            <div class="gallery-feed">
                <a class="twitter-timeline" data-width="340" data-height="220" data-theme="light" href="https://twitter.com/leadership_aca?ref_src=twsrc%5Etfw">Tweets by leadership and developmet academy africa</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            </div>
          </div>
        </div>
      </div>
      <hr>
      <ul class="float-left">
        <li>
          <a href="#">
              <!-- /studentfaqs -->
          Student FAQS
          </a>
        </li>
        <li>
          <a href="#">
              <!-- /paymentfaqs -->
            Payment FAQS
          </a>
        </li>
        <li>
          <a href="/contactus">
            Contact Us
          </a>
        </li>
      </ul>
      <div class="copyright float-right">
        Copyright &#xA9;
        <script>
          document.write(new Date().getFullYear())
        </script> Leadership and Development Academy. 
  <br>    <a style="color:#29c7ac" href="http://www.brainlabs.co.ke/" target="_blank">
Brain Labs Kenya
</a>  
      </div>
    </div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=948372938681178&autoLogAppEvents=1"></script>
 
  
  </footer>
