{% extends 'productionpages/base3.html' %}

{% load staticfiles %}
{% block content %}


  <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../assets/img/bg9.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">Top Graduants</h1>
          <h4>List of amazing students who have completed their courses at LADA and now they are impacting the  world.</h4>
         

      
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="about-team team-1">
            <div class="col-md-6 ml-auto mr-auto text-center">
                    <button  href="/" class="btn btn-primary btn-round">
                      Back home 
                    </button>
                    <button  href="/courses" class="btn btn-primary btn-round">
                       courses
                          </button>
                    
                  </div>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Meet the Top leaders </h2>
          </div>
        </div>
     
        <div class="row">
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="{% static 'img/9.jpg' %}">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Graduant 1</h4>
                <h6 class="category text-muted">Founder Brain labs</h6>
                <!-- <p class="card-description">
                  And I love you like Kanye loves Kanye. We need to restart the human foundation.
                </p> -->
              </div>
              <div class="card-footer justify-content-center">
                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-google">
                  <i class="fa fa-google"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                        <img class="img" src="{% static 'img/9.jpg' %}">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Graduant 2</h4>
                <h6 class="category text-muted">CEO Amani foundation</h6>
                <!-- <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation. And I love you like Kanye loves Kanye.
                </p> -->
              </div>
              <div class="card-footer justify-content-center">
                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble">
                  <i class="fa fa-dribbble"></i>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin">
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                        <img class="img" src="{% static 'img/9.jpg' %}">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Graduant 3</h4>
                <h6 class="category text-muted">Youth Leader</h6>
                <!-- <p class="card-description">
                  I love you like Kanye loves Kanye. Don't be scared of the truth because we need to restart the human foundation.
                </p> -->
              </div>
              <div class="card-footer justify-content-center">
                <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook-square"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                        <img class="img" src="{% static 'img/9.jpg' %}">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Graduant 4</h4>
                <h6 class="category text-muted">Youth Leader</h6>
                <!-- <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation.
                </p> -->
              </div>
              <div class="card-footer justify-content-center">
                <a href="#pablo" class="btn btn-just-icon btn-link btn-google"><i class="fa fa-google"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
   
    
   
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <!-- <nav class="float-left">
        <ul>
          <li>
            <a href="https://www.creative-tim.com/">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="https://creative-tim.com/presentation">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com/">
              Blog
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/license">
              Licenses
            </a>
          </li>
        </ul>
      </nav> -->
      <div class="copyright float-right">
        &copy;
        <script>
         
          document.write(new Date().getFullYear())
        </script>Leadership and Development Academy  powered by
        <a href="https://www.brainlabs.co.ke/" target="_blank">Brain Labs Kenya </a> 
      </div>
    </div>
  </footer>
  {% endblock content %}