

{% extends 'productionpages/baseabout.html' %}

{% load staticfiles %}
{% block content %}





<div class="cd-section header-filter" id="contactus"  style="background-image: url('../../../static/img/bg9min.png ');">
  <br><br>   
  <div class="contactus-1 section-image   ">
          <div class="container">
                <!-- <button href="/landpageprod" class="btn btn-primary pull-right">Back to home</button> -->
                <!-- <div class="card-stats justify-content-center">
                        <a href="/landpageprod" class="btn btn-primary pull-right" > Back to home </a>
                      </div> -->
            <div class="row">
  
             
              <div class="col-md-6">
                    <h3 class="title" style="color:#fff">General Information and Instructions to applicants. </h3>
                    <h6 style="color:#fff" >The Leadership and Development Academy (LADA) is established in Africa as a joint initiative of Springdale College UK now known as For Mission College, accredited by  Newman University in Birmingham, Africa for SDGs, ICY AFRICA which runs the Springdale Foundation and Alongsiders Online Academy providing training and  digital resourses.</h6> 
                    <h6 style="color:#fff" >This Fellowship comes with a scholarship for tuition which covers a 12- month period for diploma level and 3 years for a professional B.A Degree on leadership and sustainable development, comprising a rigorous training, research and practical application programme on Leadership and sustainable. </h6>
                    <h6 style="color:#fff" >All participants must come up with a practical prototype allinged to a specific sustainable development goal(SDGs) to be Implemented at Community level.</h6>
                   
                    
              
                    <div class="info info-horizontal">
                
                  <!-- <div class="description">
                    <h4 class="info-title">Fill the form below to Join the programme. </h4>
                  
                  </div> -->
                </div>
            
              </div>
              <div class="col-md-6 ml-auto">
                <div class="card card-contact">
                  <form id="contact-form" method="post">
                    <div class="card-header card-header-raised card-header-primary text-center">
                      <h4 class="card-title">Application Form</h4>
                    </div>
                    <div class="card-body">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe-faa_Gkz0k1GjyQqNInV0qIFqEZ0VOdaaAQ5u9TLr9GbbVA/viewform?embedded=true" class="col-md-12 text-center " height="400px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                      <!-- <div class="row">
                        <div class="col-md-6">
                          <div class="form-group label-floating is-empty">
                            <label class="bmd-label-floating">First name</label>
                            <input type="text" name="name" class="form-control">
                            <span class="material-input"></span>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group label-floating is-empty">
                            <label class="bmd-label-floating">Last name</label>
                            <input type="text" name="name" class="form-control">
                            <span class="material-input"></span>
                          </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group label-floating is-empty">
                                  <label class="bmd-label-floating">Phone number</label>
                                  <input type="Number" name="name" class="form-control">
                                  <span class="material-input"></span>
                                </div>
                              </div>
                      </div>
                      <div class="form-group label-floating is-empty">
                        <label class="bmd-label-floating">Email address</label>
                        <input type="email" name="email" class="form-control">
                        <span class="material-input"></span>
                      </div> -->
                    </div>
                    <!-- <div class="card-footer justify-content-center">
                     
                      <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    </div> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--     *********    END CONTACT US 1      *********      -->
 <!--     *********    BIG FOOTER     *********      -->
 <!-- <footer class="footer footer-black footer-big">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-md-4">
            <h5>About Us</h5>
            <p>The Leadership and Development Academy (LADA) is established in Africa as a joint initiative of Springdale College UK now known as ForMission College, accredited by York St John University and Newman University in Birmingham, Africa for SDGs and ICY AFRICA which runs the Springdale Foundation and other global partners.
            </p>
          </div>
          <div class="col-md-4">
            <h5>Social Feed</h5>
            <div class="social-feed">
              <div class="feed-line">
                <i class="fa fa-twitter"></i>
                <p>.</p>
              </div>
              <div class="feed-line">
                <i class="fa fa-twitter"></i>
                <p>.</p>
              </div>
              <div class="feed-line">
                <i class="fa fa-facebook-square"></i>
                <p>.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h5>Trending Topics</h5>
            <div class="gallery-feed">
              <img src="assets/img/faces/card-profile6-square.jpg" class="img img-raised rounded" alt="">
              <img src="assets/img/faces/christian.jpg" class="img img-raised rounded" alt="">
              <img src="assets/img/faces/card-profile4-square.jpg" class="img img-raised rounded" alt="">
              <img src="assets/img/faces/card-profile1-square.jpg" class="img img-raised rounded" alt="">
              <img src="assets/img/faces/marc.jpg" class="img img-raised rounded" alt="">
              <img src="assets/img/faces/kendall.jpg" class="img img-raised rounded" alt="">
              <img src="assets/img/faces/card-profile5-square.jpg" class="img img-raised rounded" alt="">
              <img src="assets/img/faces/card-profile2-square.jpg" class="img img-raised rounded" alt="">
            </div>
          </div>
        </div>
      </div>
      <hr>
      <ul class="float-left">
        <li>
          <a href="#pablo">
          FAQS
          </a>
        </li>
        <li>
          <a href="#pablo">
            Payment
          </a>
        </li>
        <li>
          <a href="#pablo">
            Contact Us
          </a>
        </li>
      </ul>
      <div class="copyright float-right">
        Copyright &#xA9;
        <script>
          document.write(new Date().getFullYear())
        </script> Leadership and Development Academy.
      </div>
    </div>
  </footer> -->
  {% include "landpage/main/js.html" %}  
  <div id="ajax_response_login"></div>
  <div id="ajax_response_register"></div>
  <div id="ajax_logout"></div>

</body>
{% endblock content %}