{% extends 'login/base2.html' %}
{% load staticfiles %}
{% block content %}
<br><br>
  <div class="container ">
    <div class="row justify-content-center ">
      
      <div class="col-lg-4 col-md-12 col-xs-12 ">

      
<p>'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' </p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email"> Email address:</label>
        {{ form.email }}
    </div>
    <input type="submit" value="'Reset my password'">
</fieldset>
</form> 
<!--         
      
        <div class="page-login-form box ">
               
           <div class="usercontent text-center">
                
                <figure>
                    <a href="#"><img class="-img-fluid" src="{% static 'assets_course_detail/img/ladalogo.png' %}" style="width:32%; " alt="THELADAlogo"></a>
                  </figure>
               
            </div> 
 
      <h3>Password Reset</h3>
              <span class="text-center">
                <h6>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
              </h6></span> <br>
          <span> 
       
       
     
          {% if messages %}
          {% for message in messages %}
        


          <div class="alert {{ message.error}} alert-dismissible alert-success fade show" role="alert">
              <strong>Opps, </strong> {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

          <div class="alert {{ message.success}} alert-dismissible alert-success fade show" role="alert">
                              <strong>Perfect, {{user.first_name}} </strong> {{ message }}
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
          {% endfor %}
          {% endif %}
          <div id="error_box" name="error_box" class="alert alert-danger alert-dismissable" hidden="true">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            </div>

        
        <form method="post">{% csrf_token %}
                <div class="form-group">
                        {{ form.email.errors }}  
                        <div class="input-icon">
                          <i class="icon fas fa-user"></i>
                          <input  type="text" class="form-control" placeholder="Enter Email" autocorrect="off" autocapitalize="none">
                          {{ form.email }}
                        </div>
                      </div> 
                  
                    <input type="submit" value="'Reset my password'">
        
                </form>
    
       
          <ul class="form-links">
            <li class="float-right"><a href="/forgot_password">Lost your password?</a></li>
            <li class="float-left"><a  href="/redirected-register">Don't have an account?</a></li>

          </ul>
          <br> 
    
        </div>
        <br>    
        <div class=" justify-content-center text-center" >
          <h6> THE LADA  Copyright <script>
           document.write(new Date().getFullYear())
         </script> &#xA9; </h6>
      
   
   
       </div> -->
      </div>

    </div>
  </div>










          {% include "landpage/main/js.html" %}  
          <div id="ajax_response_login"></div>
          <div id="ajax_response_register"></div>
          <div id="ajax_logout"></div>
  {% endblock content %}