



{% load staticfiles %}

<!-- 0c0b11 -->

<!-- 0c0b11 -->
<!-- <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav"></nav> -->
<nav  class="navbar  navbar-default fixed-top   navbar-expand-lg slidd" color-on-scroll="100" id="sectionsNav"  style="box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); ">
  <div class="container" >
    <div class="navbar-translate">
          <a>
            <img src="{% static 'img/logos/logo2.jpg' %}" alt="" style="width:80px; height:80px;  ">
          </a>               
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">

             <span class="sr-only">Toggle navigation</span>
             <span class="navbar-toggler-icon"></span>
             <span class="navbar-toggler-icon"></span>
             <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto mr-auto"> 
       

                <li {% if tab == 'courses' %}class=" nav-item "{% endif %}>
                        <a class="dropdown nav-link" href="/courses"><i class="fa fa-fw fa-university"></i> Browse Courses</a>
                </li>
                <li  {% if tab == 'enrollment' %}class="  nav-item"{% endif %}>
                        <a class=" dropdown  nav-link" href="/enrollment"><i class="fa fa-fw fa-bookmark"></i>Courses Enrolled</a>
                </li>
                <!-- <li {% if tab == 'teaching' %}class="nav-link"{% endif %}>
                        <a class="active dropdown  nav-link" href="teaching"><i class="fa fa-fw fa-suitcase"></i> Teaching</a>

                </li> -->
                <li {% if tab == 'transcript' %}class=" nav-item"{% endif %}>
                         <a class="dropdown  nav-link" href="/transcript"><i class="fa fa-fw fa-file-text"></i> Transcript</a>
                </li>  
                <li {% if tab == 'certificates' %}class="nav-item"{% endif %}>
                        <a class="dropdown  nav-link" href="/certificates"><i class="fa fa-fw fa-certificate"></i> Certificates</a>

                </li>
                <li {% if tab == 'inbox' %}class="nav-item"{% endif %}>
                    <a class="dropdown  nav-link" href="/inbox"><i class="fa fa-fw fa-certificate"></i> Messages</a>

            </li>
            <li {% if tab == 'settings' %}class="nav-item"{% endif %}>
                <a class="dropdown  nav-link" href="/settings"><i class="fa fa-fw fa-certificate"></i>settings</a>

        </li>
               
  
              <li>
              <div class="dropdown ">
                  {% if request.user.is_authenticated %}
                 
                <button class="dropdown-toggle btn btn-primary  btn-sm"  type="button" id="multiDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.first_name }} {{ user.last_name }}
                </button>
                <div class="dropdown-menu" >
                <a class="dropdown-item" class="nav-link" href="/view/profile" ><i class="material-icons">person_add</i>  Profile
                </a>
               
                <a class="dropdown-item"  onclick="ajax_logout();"><i class="material-icons">person_add</i> Logout
                </a>
              </div>   
                {% else %}
                <button class="dropdown-toggle btn btn-primary  btn-sm"  type="button" id="multiDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Account      
                </button>
                <div class="dropdown-menu" >
                  <a class="dropdown-item" onclick="ajax_popup_register();"><i class="material-icons">person_add</i>  student Sign up
                  </a>
                 <a class="dropdown-item" onclick="ajax_popup_login();" ><i class="material-icons">person_add</i>  student Login
                </a>
                {% endif %}
               
                </div>
              </div>

        </li>
   
       

        <li class="nav-item ">
					
          <div id="google_translate_element "></div>

        </li>
   
        </ul>
      </div>
    </div>
  </nav>
  <script>
      $(document).ready(function(){
                        $('.dropdown-toggle').dropdown();
                        });
      </script>

<style>

  .goog-te-gadget {
    font-family: Roboto, 'Open Sans', sans-serif!important;
    text-transform: uppercase;
  }
  .goog-te-gadget-simple  {
    background-color: rgba(84, 2, 92, 0.2)!important;
    border: 1px solid rgba(255,255,255,0.50) !important;
    padding: 2px!important;
    border-radius: 4px!important;
    font-size: 0.8rem!important;
    cursor: pointer;
  
  }
  .goog-te-menu2 {
    max-width: 100%;
  }
  .goog-te-menu-value {
    color: #fff !important;&:before {
      font-family: 'Material Icons';
      content: "\E927";
  
      font-size: 2rem;
   
    } 
  }
  .goog-te-menu-value span:nth-child(5) {
    display:none;
  }
  .goog-te-menu-value span:nth-child(3) {
    border:none!important;
    font-family: 'Material Icons';
    &:after {
      font-family: 'Material Icons';
      content: "\E5C5";
      font-size: 1.5rem;
  
    }  
  }
  
  .goog-te-gadget-icon {
      background-image: none!important;
      display: none;
     
  }
  
  
  .goog-te-banner-frame.skiptranslate {display: none!important;
  } 
  body {top: 0px!important;}
  
  /* ================================== *\
      Mediaqueries
  \* ================================== */
  @media (max-width: 667px) {
    #google_translate_element {
      bottom: calc(100% - 50% - 53px);
      left: 16px!important;
      width: 100%!important;
      goog-te-gadget {
        width:100%!important;
      }
      .skiptranslate {
        width:100%!important;			
      }
      .goog-te-gadget-simple {
        width: calc(100% - 32px)!important;
        text-align: center;
      }	
    }
  }
  
  
  
  
  </style>
  
  
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,sw,fr,en,mt,it,tl,pa,pt,th,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
      }
              
    $('document').ready(function () {
    
    
    // RESTYLE THE DROPDOWN MENU
    $('#google_translate_element').on("click", function () {
    
    // Change font family and color
    $("iframe").contents().find(".goog-te-menu2-item div, .goog-te-menu2-item:link div, .goog-te-menu2-item:visited div, .goog-te-menu2-item:active div, .goog-te-menu2 *")
      .css({
        'color': '#544F4B',
        'font-family': 'Roboto',
                'width':'100%'
      });
    // Change menu's padding
    $("iframe").contents().find('.goog-te-menu2-item-selected').css ('display', 'none');
      
        // Change menu's padding
    $("iframe").contents().find('.goog-te-menu2').css ('padding', '0px');
    
    // Change the padding of the languages
    $("iframe").contents().find('.goog-te-menu2-item div').css('padding', '20px');
    
    // Change the width of the languages
    $("iframe").contents().find('.goog-te-menu2-item').css('width', '100%');
    $("iframe").contents().find('td').css('width', '100%');
    
    // Change hover effects
    $("iframe").contents().find(".goog-te-menu2-item div").hover(function () {
      $(this).css('background-color', '#9c27b0').find('span.text').css('color', 'white');
    }, function () {
      $(this).css('background-color', 'white').find('span.text').css('color', '#544F4B');
    });
    
    // Change Google's default blue border
    $("iframe").contents().find('.goog-te-menu2').css('border', 'none');
    
    // Change the iframe's box shadow
    $(".goog-te-menu-frame").css('box-shadow', '0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3)');
    
    
    
    // Change the iframe's size and position?
    $(".goog-te-menu-frame").css({
      'height': '100%',
      'width': '100%',
      'top': '0px'
    });
    // Change iframes's size
    $("iframe").contents().find('.goog-te-menu2').css({
      'height': '100%',
      'width': '100%'
    });
    });
    });
      </script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  
  
  
  
  
  
  
