
{% load static %}
{% include 'publicpages/googletranslate.html' %}  
<div class="header header-light head-shadow">
<div class="container">
<nav id="navigation" class="navigation navigation-landscape">
<div class="nav-header">


    <a class="nav-brand static-logo"  href="{% url 'landpage:home' %}"><img src="{% static 'assets_course_detail/img/ladalogo.png' %}" style="width:120px; height:100px;" class="logo" alt="" /></a>
    
    <div class="nav-toggle"></div>
</div>

<div style="margin-top:1em;" class="nav-menus-wrapper" style="transition-property: none;">
    <ul class="nav-menu ">
          
       

                    <li {% if tab == 'courses' %}class=" nav-item "{% endif %}>
                            <a class="dropdown nav-link" href="/courses">	All Courses</a>
                    </li>
                    <li  {% if tab == 'enrollment' %}class="  nav-item"{% endif %}>
                            <a class=" dropdown  nav-link" href="/enrollment">
                            Courses Enrolled</a>
                    </li>
                    <!-- <li {% if tab == 'teaching' %}class="nav-link"{% endif %}>
                            <a class="active dropdown  nav-link" href="teaching"><i class="fa fa-fw fa-suitcase"></i> Teaching</a>
    
                    </li> -->
                    <li {% if tab == 'transcript' %}class=" nav-item"{% endif %}>
                             <a class="dropdown  nav-link" href="/transcript"> 
                                Transcripts</a>
                    </li>  
                    <li {% if tab == 'certificates' %}class="nav-item"{% endif %}>
                            <a class="dropdown  nav-link" href="/certificates">
                            My Certificates</a>
    
                    </li>
                    <li {% if tab == 'inbox' %}class="nav-item"{% endif %}>
                        <a class="dropdown  nav-link" href="/inbox">
                         My Messages</a>
    
                </li>
                <li {% if tab == 'settings' %}class="nav-item"{% endif %}>
                    <a class="dropdown  nav-link" href="/settings">
                  settings</a>
    
            </li>
                   
            <ul class="nav-menu nav-menu-social align-to-right">


                {% if request.user.is_authenticated %}
                <li  class="login_click  theme-bg">
                
                <a href="/view/profile">{{ user.first_name }} </a>
                </li>
                <li class="login_click light">
                <a style="cursor: pointer;" onclick="ajax_logout();">Logout </a>
                </li>
                <li  >
                
                <div  id="google_translate_element"></div>
                
                </li>
                {% else %}
                <li class="login_click theme-bg">
                <a href="#" data-toggle="modal" data-target="#login">Sign In</a>
                </li>
                <li  >
                
                <div  id="google_translate_element"></div>
                
                </li>
                <!-- <li class="login_click light">
                <a href="#" data-toggle="modal" data-target="#login"> login</a>
                </li> -->
                {% endif %}
                
                
                <!-- End Navigation -->
                </ul>  
                
            
       
           
    
            <li class="nav-item ">
                        
              <div  id="google_translate_element"></div>
      
            </li>
            </ul>
               
                </div>
            </nav>
        </div>
    </div>

       