{% extends 'registrar/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <br>
        <br>
        <h3 class="title">
       
            Leadership and Development Academy Instructor site
        </h3>
        <!-- <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-bookmark"></i> Enrollment
            </li>
        </ol> -->
    </div>
</div>

<div class="categories-list">
    <ul>
        {% if shortcourses  %}
        {% for c in shortcourses %}
      <li>
        
          {{ c.title }} 
          {{ c.description}}
          
          <a href=" {% url 'registrar:enrollshort' %}">Enroll</a>
          {{c.total_users}}
          div class="item_desc">
          
           

        </a>
      </li>
    </li>
        {% endfor %}
          {%else %}
          <li>
              <a href="#">
                <i class="lnr lnr-sad"></i>
               No Categories found Currently <span class="category-counter">(0)</span>
              </a>
         
          {% endif %}
    </ul>
  </div>
</div>
</div>
{% endblock %}

       