{% extends 'publicpages/base.html' %}
{% load static %}
{% block content %}
{% if messages %}
{% for message in messages %}



<div class="alert {{ message.success}} alert-dismissible alert-success fade show" role="alert">
<strong>Perfect, {{user.first_name}} </strong> {{ message }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}
{% endif %}
<div id="main-wrapper">

<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
<!-- Start Navigation -->
{% include 'publicpages/homepagenavbar.html' %}
<!-- End Navigation -->
<div class="clearfix"></div>
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->

<!-- ============================ Hero Banner  Start================================== -->

<!-- Carousel Card -->
<div id="carouselExampleIndicators" class="carousel slide  " data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol>
<div class="carousel-inner ">
<div class="carousel-item active">
<div class="image-cover hero_banner hero-inner-2 index-page header-filter " style="background-image: url('../../../static/img/bg1.jpg ')" data-overlay="" >

<div class="container" >
<div class="row">
<div class="col-md-8 ml-auto mr-auto text-center">
<h2 >Leadership and Development Academy </h2>
<br>
<h5 style="font-weight:100;">The Leadership and Development Academy (LADA) is established in Africa as a joint initiative of Springdale College UK now known as For Mission College, Africa for SDGs, My Goals Foundation and ICY AFRICA and other global partners.</h6>
<br>
<div class="buttons">
<!-- <a href="/aboutus"  class="btn btn-primary btn btn-round ">
Learn More
</a> -->
<a href="#" style="border-radius:50px; color: #fff; font-size:14px;" class="btn btn-theme enroll-btn">Learn More</a>

<a  onclick="ajax_popup_register();" style="border-radius:50px;color: #fff; font-size:14px;" class="btn btn-theme enroll-btn">Register as a Student</a>


</div>
</div>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="image-cover hero_banner hero-inner-2 index-page header-filter" style="background-image: url('../../../static/img/bg1.jpg ')" data-overlay="" >
<div class="container">
<div class="row">
<div class="col-md-8 ml-auto mr-auto text-center">
<h2 class="title">Leadership and Development Academy </h2>
<br>
<h5 style="font-weight:100; ">The Leadership and Development Academy (LADA) is established in Africa as a joint initiative of Springdale College UK now known as For Mission College, Africa for SDGs, My Goals Foundation and ICY AFRICA and other global partners.</h5>
<br>
<div class="buttons">
<!-- <a href="/aboutus"  class="btn btn-primary btn btn-round ">
Learn More
</a> -->
<a href="#" style="border-radius:50px; color: #fff; font-size:14px;" class="btn btn-theme enroll-btn">Learn More</a>

<a  onclick="ajax_popup_register();" style="border-radius:50px;color: #fff; font-size:14px;" class="btn btn-theme enroll-btn">Register as a Student</a>


</div>
</div>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="image-cover hero_banner hero-inner-2 index-page header-filter" style="background-image: url('../../../static/img/bg1.jpg ')" data-overlay="">			  <div class="container">
<div class="row">
<div class="col-md-8 ml-auto mr-auto " > 
<!-- text-left -->
<h2 class="title">Leadership and Development Academy </h2>
<br>
<h5 style="font-weight:100;">The Leadership and Development Academy (LADA) is established in Africa as a joint initiative of Springdale College UK now known as For Mission College, Africa for SDGs, My Goals Foundation and ICY AFRICA and other global partners.</h5>
<br>

<div class="buttons">
<!-- <a href="/aboutus"  class="btn btn-primary btn btn-round ">
Learn More
</a> -->
<a href="#" style="border-radius:50px; color: #fff; font-size:14px;" class="btn btn-theme enroll-btn">Learn More</a>

<a  onclick="ajax_popup_register();" style="border-radius:50px;color: #fff; font-size:14px;" class="btn btn-theme enroll-btn">Register as a Student</a>


</div>
</div>
</div>
</div>
</div>
</div>
</div>

<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
<!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
<i class="material-icons">keyboard_arrow_left</i>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
<i class="material-icons">keyboard_arrow_right</i>
<span class="sr-only">Next</span>
</a> -->
</div>
<!-- End Carousel Card -->
<!-- ============================ Hero Banner End ================================== -->

<div class="blogs-1" id="blogs-1">
<div class="container">
<div class="row">
<div class="col-md-12 ml-auto mr-auto">



<div class="row">


<div class="col-md-12 col-lg-6">

<!-- <h1 class="card-category text-info text-center "> <b>Leadership and Development Academy</b> </h1> -->
<h2 class="card-title text-center ">
<br> <br> <br>
<a href="#pablo" > Learn Where Leaders Learn</a>
</h2>
<h4 class="card-description mr-auto ml-auto">
Explore Leadership courses, Study online, build professional Leadership skills, connect with an online Community of leaders from all over the world. Get a diploma upon course completion or even take your learning further and earn a degree.
<a href="#pablo"> 
</h4>
<br><br>

<div class="card-stats text-center">


            {% if request.user.is_authenticated %}
            <a href="/payment" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >View All Courses</a>

            
            {% else %}
            <a href="/redirected_login" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >Enroll now</a>

        
            {% endif %}
</div>
<br><br>
</div>
<div class="col-md-6">
<div class="col-md-12 mr-auto ml-auto">
<!-- Carousel Card -->
<br> <br> <br> <br><br>
<div class="">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
<!-- <ol class="carousel-indicators">
<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol> -->
<div class="carousel-inner">
<div class="carousel-item active">
<img class="d-block w-100 "  href="#carouselExampleIndicators" src="../../../static/img/bgnew.png" alt="First slide">
<div class="carousel-caption d-none d-md-block">
<!-- <h4>
<i class="material-icons">location_on</i> Yellowstone National Park, United States
</h4> -->
</div>
</div>
<div class="carousel-item">
<img class="d-block w-100"  href="#carouselExampleIndicators" src="../../../static/img/bgnew2.png"  alt="Second slide">
<div class="carousel-caption d-none d-md-block ">
<!-- <h4 >
<i class="material-icons  ">location_on</i> Somewhere Beyond, United States
</h4> -->
</div>
</div>
<div class="carousel-item">
<img class="d-block w-100"  href="#carouselExampleIndicators" src="../../../static/img/bgnew3.png" alt="Third slide">
<div class="carousel-caption d-none d-md-block">
<!-- <h4>
<i class="material-icons">location_on</i> Yellowstone National Park, United States
</h4> -->
</div>
</div>
</div>
<!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
<i class="material-icons">keyboard_arrow_left</i>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
<i class="material-icons">keyboard_arrow_right</i>
<span class="sr-only">Next</span>
</a> -->
</div>
</div>
<!-- End Carousel Card -->
</div>
<!--                 
<div class="card-header-image">

<a href="#pablito">

<img class="img" src="static/img/bgnew.png ">
</a>

</div> -->
</div>
</div>

<div class="container">
<div class="col-lg-12" >
<h2 class="card-title ">
<a href="#pablo">Why US</a>
</h2>
</div> 
<div class="col-lg-12  "  >

<div class="row">
<div class="col-md-6">


<hr>
<h4 class="card-description  p-5 bg-white rounded shadow-sm mb-5 ">
The Leadership and Development Academy (LADA) is established in Africa as a joint initiative of Springdale College UK now known as ForMission College, accredited by York St John University and Newman University in Birmingham, Africa for SDGs and ICY AFRICA which runs the Springdale Foundation and other global partners.
We believe that when youths are capacitated with leadership and development skills, knowledge and attitude, then they become active citizens in their respective communities and countries.
</h4>


<br><br>
</div>

<div class="col-md-6">
<div class="col-md-12 mr-auto ml-auto">
<h3 class="card-category text-info"> <b> Quick Facts: Online LADA</b> </h3>
<ul>
<li>Taught in Multiple Language</li>
<li>Delivered online</li>
<li>Uses the unique Action Learning methodology
</li>
<li>Focus 100% on real-time topics of relevance to leadership and Development challenges facing Africa
</li>
<li>Engage with a network of alumni and  leaders</li>
<li>Come up with a practical prototype aligned to a specific sustainable development goal(SDGs) to be implemented at the community level</li>
<li>Earn a Certificate upon completion of study</li>


</ul>


<!-- Carousel Card -->

<div class="card-stats text-center">
{% if request.user.is_authenticated %}
<a href="/payment" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >Explore our platform</a>


{% else %}
<a href="/redirected_login" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >Explore our platform</a>


{% endif %}
</div>
<!-- End Carousel Card -->
</div>
<!--                 
<div class="card-header-image">

<a href="#pablito">

<img class="img" src="static/img/bgnew.png ">
</a>

</div> -->
</div>


</div>
</div>
</div>        

<div class="container">
<div class="col-lg-12" >
<h2 class="card-title ">
<a href="#pablo">LADA Scholarships to Finance Your Study</a>
</h2>
</div> 
<div class="col-lg-12  "  >

<div class="row">
<div class="col-md-6">

<!-- <h1 class="card-category text-info text-center "> <b>Leadership and Development Academy</b> </h1> -->
<!-- <h2 class="card-title  text-right">
<a href="#pablo" > Learn Where Leaders Learn</a>
</h2> -->
<hr>
<h4 class="card-description  p-5 bg-white rounded shadow-sm mb-5 ">
The LADA is pleased to announce a call for applications for the Leadership and Development Fellowships for African Practitioners or interested Scholarship starting in June 2019. This Fellowship comes with a scholarship for tuition which covers for short courses ( 1 week course or more), a 12- month period diploma or a three (3) year Professional degree,
comprising a rigorous training, research and practical application programme on Leadership and development; <a href="/scholarship-application-form">Learn More</a>

<a href="#pablo"> 
</h4>


<br><br>
</div>

<div class="col-md-6">
<div class="col-md-12 mr-auto ml-auto">

<!-- Carousel Card -->

<div class="">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
<!-- <ol class="carousel-indicators">
<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol> -->
<div class="carousel-inner">
<div class="carousel-item active">
<img class="d-block w-100 "  href="#carouselExampleIndicators" src="../../../static/img/bgscho3.png" alt="First slide">
<div class="carousel-caption d-none d-md-block">
<!-- <h4>
<i class="material-icons">location_on</i> Yellowstone National Park, United States
</h4> -->
</div>
</div>
<div class="carousel-item">
<img class="d-block w-100"  href="#carouselExampleIndicators" src="../../../static/img/bgscho4.png"  alt="Second slide">
<div class="carousel-caption d-none d-md-block ">
<!-- <h4 >
<i class="material-icons  ">location_on</i> Somewhere Beyond, United States
</h4> -->
</div>
</div>
<div class="carousel-item">
<img class="d-block w-100"  href="#carouselExampleIndicators" src="../../../static/img/bgscho2.png" alt="Third slide">
<div class="carousel-caption d-none d-md-block">
<!-- <h4>
<i class="material-icons">location_on</i> Yellowstone National Park, United States
</h4> -->
</div>
</div>
</div>
<!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
<i class="material-icons">keyboard_arrow_left</i>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
<i class="material-icons">keyboard_arrow_right</i>
<span class="sr-only">Next</span>
</a> -->
</div>
</div>
<br>
<div class="card-stats text-center">
{% if request.user.is_authenticated %}
<a href="/scholarship-application-form" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >APPLY FOR SCHOLARSHIP</a>


{% else %}

<a href="/scholarship-application-form" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >APPLY FOR SCHOLARSHIP</a>

{% endif %}
</div>
<!-- End Carousel Card -->
</div>
<!--                 
<div class="card-header-image">

<a href="#pablito">

<img class="img" src="static/img/bgnew.png ">
</a>

</div> -->
</div>


</div>
</div>
</div>
<br><br>
<div class="container">
<div class="col-lg-12  "  >
<h1 class="card-category text-info text-center "> <b>How It Works</b> </h1>
<hr>
<div class="row">
<div class="col-md-6 col-lg-3">
<div class="card text-center" style=" box-shadow: 0 8px 16px 0 #c5c5c5; padding:10px; border-radius: 6px;">
<div class=" ">
<a href="#pablo">
<img class="img" style="width:120px; height:120px;" src="static/img/online.png" >

</a>
</div>
<!-- <h5 class="card-category card-category-social">
<i class="fa fa-dribbble"></i> Dribbble
</h5> -->

<h4 class="card-title">
<a href="#pablo">LEARN FLEXIBLY ONLINE</a>
</h4>

</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="card text-center" style=" box-shadow: 0 8px 16px 0 #c5c5c5; padding:10px; border-radius: 6px;">

<div class=" ">
<a href="#pablo">
<img class="img" style="width:120px; height:120px;" src="static/img/online2.png" >

</a>
</div>
<!-- <h5 class="card-category card-category-social">
<i class="fa fa-dribbble"></i> Dribbble
</h5> -->
<h4 class="card-title">
<a href="#pablo">EARN A DEGREE</a>
</h4>

</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="card text-center" style=" box-shadow: 0 8px 16px 0 #c5c5c5; padding:10px; border-radius: 6px;">
<div class=" ">
<a href="#pablo">
<img class="img" style="width:150px; height:120px;" src="static/img/inno.png" >

</a>
</div>
<!-- <h5 class="card-category card-category-social">
<i class="fa fa-dribbble"></i> Dribbble
</h5> -->
<h4 class="card-title">
<a href="#pablo">INNOVATE</a>
</h4>

</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="card text-center" style=" box-shadow: 0 8px 16px 0 #c5c5c5; padding:10px; border-radius: 6px;">
<div class=" ">
<a href="#pablo">
<img class="img" style="width:120px; height:120px;" src="static/img/online2.png" >

</a>
</div>
<!-- <h5 class="card-category card-category-social">
<i class="fa fa-dribbble"></i> Dribbble
</h5> -->
<h4 class="card-title">
<a href="#pablo">TRANSFORM</a>
</h4>

</div>
</div>
</div>
</div>
</div>
<br><br>
<div class="cards " id="morphingCards">
<div class="container ">
<div class="col-lg-12" >
<h2 class="card-title text-right">
<a href="#pablo">Our Educational Partners, Accreditations and authorizations   </a>
</h2>
</div>  
<br>
<hr>
<h4 class="card-description  p-5 bg-white rounded shadow-sm mb-5" > 
The Leadership and Development Academy (LADA) aims to build a new community of  Africa’s future transformational leaders with practical application on Leadership, Governance and Development. 
The Academy is at the forefront of advancement and dialog in international Leadership education through partnerships with several bodies and is an independent school accredited and authorized by global organizations.
</h4>



</div>
</div>
<div class="container">
<div class="col-lg-12  p-5 bg-white rounded shadow-sm mb-5"  >
<div class="row">
<div class="col-md-6 col-lg-3">

<div class="copyright text-center">
<a href="#pablito">

<img class="img"  style="width:100% ;" src="static/img/alongsiders.png ">
</a>
</div>

</div>
<div class="col-md-6 col-lg-3">
<div class="copyright text-center">
<a href="#pablito">

<img class="img"  style="width:100% ;" src="static/img/newman.png ">
</a>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="copyright text-center">
<a href="#pablito">

<img class="img"  style="width:100% ;" src="static/img/york.png ">
</a>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="copyright text-center">
<a href="#pablito">

<img class="img"  style="width:100% ;" src="static/img/formission.png ">
</a>
</div>
</div>
<div class="row">
<div class="col-md-6 col-lg-3">
<div class="copyright text-center">
<a href="#pablito">

<img class="img"  style="width:100% ;" src="static/img/icylogoo.png ">
</a>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="copyright text-center">
<a href="#pablito">

<img class="img"  style="width:100% ;" src="static/img/sdgs.png ">
</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="col-lg-12" >
<h2 class="card-title ">
<a href="#pablo">Our Impact</a>
</h2>
</div> 
<div class="col-lg-12  "  >

<div class="row">

<div class="col-md-12 col-lg-8  mr-auto ml-auto  bg-white rounded shadow-sm mb-5">
<div class="container">
<iframe style="width:98%" width="800" height="450" src="//embed.chartblocks.com/1.0/?c=5e729f9d3ba0f6d708cd55fe&t=5efe5c9da3a40c7" frameBorder="0"></iframe>

<br><br>

</div>
</div>

<div class="col-md-6 col-lg-3 ">
<div class="col-md-12 mr-auto ml-auto">


<div class="card-pricing text-center" style=" box-shadow: 0 8px 16px 0 #c5c5c5; padding:10px; border-radius: 6px;">

<div class="card-body ">
<h4 class="card-category text-info"> <b>Explore Courses</b> <i class="material-icons">whatshot </i> </h4>

<ul>  
{% if request.user.is_authenticated %}
<li><i class="material-icons text-success">check</i> <a href="/payment">B.A in Leadership and Sustainable Development</a> </li>
<li><i class="material-icons text-success">check</i> <a href="/payment">M.A in Leadership and Sustainable Development</a> </li>
<li><i class="material-icons text-success">check</i> <a href="/payment">Diploma in Missional leadership</a> </li>

{% else %}

<li><i class="material-icons text-success">check</i> <a href="/redirected_login">B.A in Leadership and Sustainable Development</a> </li>
<li><i class="material-icons text-success">check</i> <a href="/redirected_login">M.A in Leadership and Sustainable Development</a> </li>
<li><i class="material-icons text-success">check</i> <a href="/redirected_login">Diploma in Missional leadership</a> </li>          
{% endif %}


</ul>

</div>

</div>
<br>
<div class="card-stats text-center ">
{% if request.user.is_authenticated %}
<a href="/payment" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >EXPlORE ALL COURSES</a>


{% else %}

<a href="/redirected_login" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >EXPlORE ALL COURSES</a>

{% endif %}
</div>
</div>

</div>

</div>
</div>
</div>
<div class="container " >
<div class="col-lg-12 "  >

<h2 class="card-title">
<a href="#pablo">Study with us?</a> Africa’s future leaders
</h2>
<div class="row ">
<div class="col-md-8 col-lg-6 p-5 bg-white rounded shadow-sm mb-5">
<!-- <h6 class="card-category text-danger">
<i class="material-icons">trending_up</i> Trending
</h6> -->

<h4 class="card-description ">
The LADA courses are designed to expose Junior African leaders to the complexities of Leadership, Governance and development issues facing the African continent with the aim of equipping them with the knowledge, skills and attitude necessary for transformative leadership and sustainable development.
Each learner will be expected as an individual or a group of fellows to come up with an innovative, implementable and scalable idea that meets the social, economic, environmental and climate challenges facing Africa.

</h4>



</div>

<div class="col-md-5 col-lg-6">
<div class=" card-header-image">

<a href="#pablo">
<img class="img " style="width:100%; height:100%; "src="static/img/info-min.png">
</a>
<br> <br>  <br> <br>
<div class="card-stats text-center ">
{% if request.user.is_authenticated %}
<a href="/payment" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >START YOUR JOURNEY OF BECOMING A LEADER</a>


{% else %}

<a href="/redirected_login" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >START YOUR JOURNEY OF BECOMING A LEADER</a>

{% endif %}
</div>
</div>
</div>
</div>


</div>

</div>
</div>


</div>
</div>
</div>



<!-- ============================== Start Newsletter ================================== -->
{% include 'publicpages/newsletter.html' %}
<!-- ================================= End Newsletter =============================== -->


<!-- Log In Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
<div class="modal-content" id="registermodal">
<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
<div class="modal-body">
<h4 class="modal-header-title">Log In</h4>
<div class="login-form">

<form  role="form" class="login-form">

<div class="form-group">
<label>Youe Email</label>
<input  type="text" class="form-control" name="login_username" id="login_username" placeholder="Enter Email" autocorrect="off" autocapitalize="none">

</div>

<div class="form-group">
<label>Password</label>
<input type="password" class="form-control" name="login_password" id="login_password" placeholder="*******">

</div>


</form>
{% if request.GET.next %}
<input type="hidden" name="next" value="{{ request.GET.next }}" >                  
{% endif %} 
<div class="form-group">
<button type="button"  onclick="ajax_authenticate();" class="btn btn-md full-width pop-login">Login</button>
</div>
</div>

<div class="social-login mb-3">
<ul>
<!-- <li>
<input id="reg"  class="checkbox-custom" name="reg" type="checkbox">
<label for="reg" class="checkbox-custom-label">Save Password</label>
</li> -->
<li><a href="#" class="theme-cl">Forgot Password?</a></li>
</ul>
</div>

<div class="text-center">
<p class="mt-2">Haven't Any Account? <a href="#" data-toggle="modal" data-target="#signup" class="link">Click here</a></p>
</div>
</div>
</div>
</div>
</div>
<!-- End Modal -->

<!-- Sign Up Modal -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
<div class="modal-content" id="sign-up">
<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
<div class="modal-body">
<h4 class="modal-header-title">Sign Up</h4>
<div class="login-form">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.error}} alert-dismissible alert-success fade show" role="alert">
                <strong>Opps, </strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
  
            <div class="alert {{ message.success}} alert-dismissible alert-success fade show" role="alert">
                                <strong>Perfect, {{user.first_name}} </strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
            {% endfor %}
            {% endif %}
            <div id="error_box" name="error_box" class="alert alert-danger alert-dismissable" hidden="true">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              ERROR: This is to be filled in by the "print_error" function. If you see this message that means there's an error with your javascript somewhere.
          </div>
            <form enctype="multipart/form-data" class="login-form" name="register_form"  id="register_form" >

<div class="form-group">
<input type="text" class="form-control" required_id="id_first_name" id="id_first_name" name="first_name">
</div>
<div class="form-group">
        <input type="text" class="form-control" name="last_name" required_id="id_second_name" placeholder="Last name">
        </div>

<div class="form-group">
  <input type="text" id="id_email" class="form-control" autocorrect="off" autocapitalize="none" required_id="id_email"name="email" placeholder="Email Address">
</div>

<div class="form-group">
 <input  type="password" name='password' class="form-control" id='id_password' required_id='id_password'  placeholder="*******">

</div>

<div class="form-group">
        <input style="box-shadow: 2px 4px 13px -1px rgba(160, 1, 88, 0.219);" type="password" name='password_repeated' id='id_password_repeated' required_id='id_password_repeated' class="form-control" placeholder="Retype Password">
    </div>




</form>
<div class="form-group">
        <button type="button"  onclick="ajax_register();" class="btn btn-md full-width pop-login">Sign Up</button>
        </div>
<div class="checkbox">
        <input style="box-shadow: 2px 4px 13px -1px rgba(231, 0, 127, 0.356);" type="checkbox" id="remember" name="rememberme" value="forever" style="float: left;">
        <label for="remember">By creating account you agree to The LADA  <a href=""  rel="noopener noreferrer">Terms & Conditions</a> </label>
      </div>
</div>
<div class="text-center">
<p class="mt-3"><i class="ti-user mr-1"></i>Already Have An Account? <a href="#" class="link">Go For LogIn</a></p>
</div>
</div>
</div>
</div>
</div>
<!-- End Modal -->

  
<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


</div>
  
  
<script>
    /**
     * When the 'Enter' key is pressed, lets try login in.
     */
    $(document).bind("keypress.13", function(event) {
        if ($('#register_modal').is(':visible')) {
            if (event.which == 13) {
                ajax_register();
            }
        }
    });
                 
    //
    // IMPORTANT:
    //  The following block of code will run when finished running this modal.
    //  Please put all jQuery unbinding code here.
    //
    // When this model hides, we will clear the contents of it.
    $('#register_modal').on('hidden.bs.modal', function (e) {
        $(document).unbind("keypress.key13");
        $('#register_modal').remove();
        $('#ajax_response_register').html('');
    });
    
    /**
     *  Function will call AJAX function to load the register.
     */
    function ajax_register()
    {
        // Only fetch the information on the register modal.
        var $form = $('#register_form');
        
        // Send registration AJAX call to the server.
        var url = 'register';
        $.ajax( url, {
            data: {
               'first_name': $form.find('input[name="first_name"]').val(),
               'last_name': $form.find('input[name="last_name"]').val(),
               'email': $form.find('input[name="email"]').val(),
               'password': $form.find('input[name="password"]').val(),
               'password_repeated': $form.find('input[name="password_repeated"]').val(),
               'is_18_or_plus': $('#id_is_18_or_plus').is(':checked'),
               'captcha_0': $form.find('input[name="captcha_0"]').val(),
               'captcha_1': $form.find('input[name="captcha_1"]').val(),
               'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            type: 'POST',
            success: function(json_result) {
               // success code execution here
               if (json_result.status == "success")
               {
                    // Send the username & password now that it's in the
                    // registery and then login.
                    ajax_authenticate(
                        $form.find('input[name="email"]').val(),
                        $form.find('input[name="password"]').val()
                    );
               }
               else
               {
                    refresh_captcha();
               
                    // Make the hidden error box appear and display error.
                    print_error(json_result.message);
               }
            },
            error: function(xhr,status,error) {
               // error code here
               refresh_captcha();
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     *  Function will call AJAX function to load the register.
     */
    function ajax_authenticate(username, password)
    {
        var url = 'login';
    
        $.ajax( url, {
            data: {
               'username': username,
               'password': password,
               'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            type: 'post',
            success: function(json_result) {
               // success code execution here
               if (json_result.status == "success")
               {
                    $('#register_modal').modal('hide');
               
                    // Load up the course list.
                    window.location = 'welcome';
               }
               else
               {
                    alert(json_result.message);
               }
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     * Prints a error box with the contents of the errors received from the server.
     */
    function print_error(json_result)
    {
        $('#error_box').prop("hidden", false); // Display error box.
        
        // Iterate through the JSON array of arrays and generate an error string.
        var message = "<b>Error(s):</b><hr/>";
        var data = $.parseJSON(json_result)
        for (var key in data) {
            if (data.hasOwnProperty(key)) { // this will check if key is owned by data object and not by any of it's ancestors
                message += "<p>" + key + ": " + data[key] + "<p>";
            }
        }
        
        // Replace the error string with the contents of the error box.
        $('#error_box').html(message);
    }

  /**
   * The following function will cause the captcha to refresh.
   */
  function refresh_captcha()
  {
      var url = location.protocol + "//" + window.location.hostname + ":"
      + location.port + "/captcha/refresh/";
      
      // Make the AJAX-call
      $.getJSON(url, {}, function(json) {
                //var $form = $('modal-body').parents('register_form');
                var $form = $('#register_form');
                $form.find('input[name="captcha_0"]').val(json.key);
                $form.find('img.captcha').attr('src', json.image_url);
        });
                
        return false;
  }

    // Add refresh button after field (this can be done in the template as well)
    $('img.captcha').after(
        $('<a href="#void" class="captcha-refresh">Refresh</a>')
    );
                       
    // Click-handler for the refresh-link
    $('.captcha-refresh').click(function(){
        refresh_captcha();
    });
</script>






<script>
        /**
         * When the 'Enter' key is pressed, lets try login in.
         */
        $(document).bind("keypress.13", function(event) {
            if ($('#login_modal').is(':visible')) {
                if (event.which == 13) {
                    ajax_authenticate();
                }
            }
        });
        
        //
        // IMPORTANT:
        //  The following block of code will run when finished running this modal.
        //  Please put all jQuery unbinding code here.
        //
        // When this model hides, we will clear the contents of it.
        $('#login_modal').on('hidden.bs.modal', function (e) {
            $(document).unbind("keypress.key13");
            $('#login_modal').remove();
            $('#ajax_response_login').html('');
        });
        
        /**
         *  Function will call AJAX function to load the register.
         */
        function ajax_authenticate()
        {
            var url = 'login';
    
            $.ajax( url, {
                data: {
                   'username': $("#login_username").val(),
                   'password': $("#login_password").val(),
                   'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                type: 'post',
                success: function(json_result) {
                // success code execution here
                   if (json_result.status == "success")
                   {
                        // Hide & close the current popup modal.
                        $('#login_modal').modal('hide');
               
                        // Load up the course list.
                        window.location = '/home_page';
                   }
                   else
                   {
                        alert(json_result.message);
                   }
                },
                error: function(xhr,status,error) {
                   // error code here
                },
                complete: function(xhr,status) {
                   // completion code here
                }
            });
        }
    
        /**
         *  TODO: Implement.
         */
        function ajax_forget_password()
        {
            var url = 'forget_password';
        
            $.ajax( url, {
                data: {
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                type: 'post',
                success: function(result) {
                   // success code execution here
                   $('#ajax_response_register').html(result); // Update UI.
                   $('#register_modal').modal();               // Unhide view.
                },
                error: function(xhr,status,error) {
                   // error code here
                },
                complete: function(xhr,status) {
                   // completion code here
                }
            });
        }
    </script>
    
 


 
{% include "publicpages/footer.html" %}
{% include "publicpages/js/js.html" %}  
<div id="ajax_response_login"></div>
<div id="ajax_response_register"></div>
<div id="ajax_logout"></div>
<div id="fb-root"></div>
{% endblock %}