<section class="newsletter theme-bg inverse-theme">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-8 col-sm-12">
                    <div class="text-center">
                            <h2>Join The LADA Community Mailing List!</h2>
                        <p>Subscribe to our newsletter & get latest LADA news, Course updation and Open Scholarships!</p>
                        <form class="sup-form">
                            <input type="email" class="form-control sigmup-me" placeholder="Your Email Address" required="required">
                            <input type="submit" class="btn btn-theme" value="Get Started">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>