{% extends 'publicpages/base.html' %}
{% load static %}
{% block content %}
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
<!-- Start Navigation -->

{% include 'publicpages/publicpagesnavbar.html' %}
<!-- End Navigation -->
<div class="clearfix"></div>
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->	


<!-- ============================ Page Title Start================================== -->
<div class="ed_detail_head">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-4 col-md-5">

<div class="property_video">
<div class="thumb">
<img class="pro_img img-fluid w100" src="../../../static/assets_course_detail/img/course-1.jpg" alt="7.jpg">
<div class="overlay_icon">
<div class="bb-video-box">
<div class="bb-video-box-inner">
<div class="bb-video-box-innerup">
<a href="https://www.youtube.com/watch?v=A8EI6JaFbv4" data-toggle="modal" data-target="#popup-video" class="theme-cl"><i class="ti-control-play"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>

</div>

<div class="col-lg-8 col-md-7">
<div class="ed_detail_wrap">

<div class="ed_header_caption">
<h2 class="ed_title">OUR STORY</h2>
<!-- <ul>
<li><i class="ti-calendar"></i>10 - 20 weeks</li>
<li><i class="ti-control-forward"></i>102 Lectures</li>
<li><i class="ti-user"></i>502 Student Enrolled</li>
</ul> -->
</div>
<div class="ed_header_short">
<!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p> -->
</div>

<div class="ed_rate_info">
<div class="star_info">
    
<span style="font-size:15px">   Join Our Community :</span>
 <i class="fa fa-facebook-official filled" aria-hidden="true"></i>
<i class="fa fa fa-youtube filled"></i>
<i class="fa fa-linkedin-square	filled"></i>
<i class="fa fa-instagram filled"></i>
<i class="fa fa-twitter filled"></i>
<i class="fa fa-slack filled"></i>
</div>
<!-- <div class="review_counter">
<strong class="high">4.7</strong> 3572 Reviews
</div> -->
</div>

</div>
</div>
</div>
</div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Course Detail ================================== -->
<section class="bg-light pt-0">
<div class="container">
<div class="row">

<div class="col-lg-8 col-md-8 pt-5">



<!-- All Info Show in Tab -->
<div class="tab_box_info mt-0">
<ul class="nav nav-pills mb-3 light" id="pills-tab" role="tablist">
<li class="nav-item  ">
<a class="nav-link  active " id="whoweare-tab" data-toggle="pill" href="#whoweare" role="tab" aria-controls="overview" aria-selected="true">Who We Are</a>
</li>
<li  class="nav-item ">
<a class="nav-link" id="educationalpartners-tab" data-toggle="pill" href="#educationalpartners" role="tab" aria-controls="educationalpartners" aria-selected="false">Educational Partners</a>
</li>
<li class="nav-item">
<a class="nav-link" id="instructor-tab" data-toggle="pill" href="#instructor" role="tab" aria-controls="instructor" aria-selected="false">Why Learn With LADA</a>
</li>
<li class="nav-item">
<a class="nav-link" id="reviews-tab" data-toggle="pill" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">LADA Reviews</a>
</li>
</ul>

<div class="tab-content" id="pills-tabContent">

<!-- Overview Detail -->
<div class="tab-pane fade show active" id="whoweare" role="tabpanel" aria-labelledby="whoweare-tab">
<!-- Overview -->
<div class="edu_wraper">
<h4 class="edu_title">Who we are</h4>
<p>THE LEADERSHIP AND DEVELOPMENT ACADEMY (LADA) IS ESTABLISHED IN AFRICA AS A JOINT INITIATIVE OF SPRINGDALE COLLEGE UK NOW KNOWN AS FOR MISSION COLLEGE, ACCREDITED BY NEWMAN UNIVERSITY IN BIRMINGHAM, AFRICA FOR SDGS, ICY AFRICA WHICH RUNS THE SPRINGDALE FOUNDATION AND ALONGSIDERS ONLINE ACADEMY PROVIDING TRAINING AND DIGITAL RESOURSES</p>		

<!-- <h6>Requirements</h6> -->
<!-- <ul class="lists-3">
<li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
<li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
<li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
<li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
<li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
</ul> -->
</div>

<!-- Overview -->
<!-- <div class="edu_wraper">
<h4 class="edu_title">What you'll learn</h4>
<ul class="edu_list third">
<li>At vero eos et accusamus</li>
<li>At vero eos et accusamus</li>
<li>At vero eos et accusamus</li>
<li>At vero eos et accusamus</li>
<li>At vero eos et accusamus</li>
<li>At vero eos et accusamus</li>
<li>At vero eos et accusamus</li>
<li>At vero eos et accusamus</li>
<li>At vero eos et accusamus</li>
</ul>
</div> -->
</div>

<!-- educationalpartners Detail -->
<div class="tab-pane fade" id="educationalpartners" role="tabpanel" aria-labelledby="educationalpartners-tab">
<div class="edu_wraper">
<section>
        <div class="container">
            
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="sec-heading center">
                   
                        <h3><span class="theme-cl">Trusted</span> by our Educational partners</h3>
                    </div>
                </div>
            </div>
     
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="single_brand" id="brand-slide">
                        
                        <!-- single -->
                        <div class="single_brands">
                            <img src="../../../static/img/alongsiders.png" class="img-fluid" alt="" />
                        </div>
                        
                        <!-- single -->
                        <div class="single_brands">
                            <img src="../../../static/img/newman.png" class="img-fluid" alt="" />
                        </div>
                        
                        <!-- single -->
                        <div class="single_brands">
                            <img src="../../../static/img/york.png " class="img-fluid" alt="" />
                        </div>
                        
                        <!-- single -->
                        <div class="single_brands">
                            <img src="../../../static/img/formission.png " class="img-fluid" alt="" />
                        </div>
                        
                        <!-- single -->
                        <div class="single_brands">
                            <img src="../../../static/img/icylogoo.png " class="img-fluid" alt="" />
                        </div>
                        
                        <!-- single -->
                        <div class="single_brands">
                            <img src="../../../static/img/sdgs.png " class="img-fluid" alt="" />
                        </div>
                        
                        <!-- single -->
                        <div class="single_brands">
                            <img src="../../../static//img/kemi.png" class="img-fluid" alt="" />
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================== Brand Section =============================== -->
    <h4>Learn More:</h4>
<div id="accordionExample" class="accordion shadow circullum">

<!-- Part 1 -->
<div class="card">
<div id="headingOne" class="card-header bg-white shadow-sm border-0">
<h6 class="mb-0 accordion_title"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark collapsible-link py-2">KEMI</a></h6>
</div>
<div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
<div class="card-body pl-3 pr-3">
<!-- <ul class="lectures_lists">
<li><div class="lectures_lists_title"><i class="ti-control-play"></i>Lecture: 01</div>Web Designing Beginner</li>
<li><div class="lectures_lists_title"><i class="ti-control-play"></i>Lecture: 02</div>Startup Designing with HTML5 & CSS3</li>
<li><div class="lectures_lists_title"><i class="ti-control-play"></i>Lecture: 03</div>How To Call Google Map iFrame</li>
<li class="unview"><div class="lectures_lists_title"><i class="ti-control-play"></i>Lecture: 04</div>Create Drop Down Navigation Using CSS3</li>
<li class="unview"><div class="lectures_lists_title"><i class="ti-control-play"></i>Lecture: 05</div>How to Create Sticky Navigation Using JS</li>
</ul> -->
</div>
</div>
</div>
<div class="card">
        <div id="headingOne" class="card-header bg-white shadow-sm border-0">
        <h6 class="mb-0 accordion_title"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark collapsible-link py-2">ALONGSIDERS</a></h6>
        </div>
        <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
        <div class="card-body pl-3 pr-3">
        <!-- <ul class="lectures_lists">
        <li><div class="lectures_lists_title"><i class="ti-control-play"></i>Lecture: 01</div>Web Designing Beginner</li>
        <li><div class="lectures_lists_title"><i class="ti-control-play"></i>Lecture: 02</div>Startup Designing with HTML5 & CSS3</li>
        <li><div class="lectures_lists_title"><i class="ti-control-play"></i>Lecture: 03</div>How To Call Google Map iFrame</li>
        <li class="unview"><div class="lectures_lists_title"><i class="ti-control-play"></i>Lecture: 04</div>Create Drop Down Navigation Using CSS3</li>
        <li class="unview"><div class="lectures_lists_title"><i class="ti-control-play"></i>Lecture: 05</div>How to Create Sticky Navigation Using JS</li>
        </ul> -->
        </div>
        </div>
        </div>



</div>
</div>
</div>

<!-- Whylada -->
<div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor-tab">
<div class="single_instructor">
<!-- <div class="single_instructor_thumb">
<a href="#"><img src="../../../static/assets_course_detail/img/user-3.jpg" class="img-fluid" alt=""></a>
</div>
<div class="single_instructor_caption">
<h4><a href="#">Jonathan Campbell</a></h4>
<ul class="instructor_info">
<li><i class="ti-video-camera"></i>72 Videos</li>
<li><i class="ti-control-forward"></i>102 Lectures</li>
<li><i class="ti-user"></i>Exp. 4 Year</li>
</ul>
<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
<ul class="social_info">
<li><a href="#"><i class="ti-facebook"></i></a></li>
<li><a href="#"><i class="ti-twitter"></i></a></li>
<li><a href="#"><i class="ti-linkedin"></i></a></li>
<li><a href="#"><i class="ti-instagram"></i></a></li>
</ul>
</div> -->
</div>
</div>

<!-- Reviews Detail -->
<div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">

<!-- Overall Reviews -->
<div class="rating-overview">
<div class="rating-overview-box">
<!-- <span class="rating-overview-box-total">4.2</span>
<span class="rating-overview-box-percent">out of 5.0</span>
<div class="star-rating" data-rating="5"><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i>
</div> -->
</div>
<!-- 
<div class="rating-bars">
<div class="rating-bars-item">
<span class="rating-bars-name">5 Star</span>
<span class="rating-bars-inner">
<span class="rating-bars-rating high" data-rating="4.7">
<span class="rating-bars-rating-inner" style="width: 85%;"></span>
</span>
<strong>85%</strong>
</span>
</div>
<div class="rating-bars-item">
<span class="rating-bars-name">4 Star</span>
<span class="rating-bars-inner">
<span class="rating-bars-rating good" data-rating="3.9">
<span class="rating-bars-rating-inner" style="width: 75%;"></span>
</span>
<strong>75%</strong>
</span>
</div>
<div class="rating-bars-item">
<span class="rating-bars-name">3 Star</span>
<span class="rating-bars-inner">
<span class="rating-bars-rating mid" data-rating="3.2">
<span class="rating-bars-rating-inner" style="width: 52.2%;"></span>
</span>
<strong>53%</strong>
</span>
</div>
<div class="rating-bars-item">
<span class="rating-bars-name">1 Star</span>
<span class="rating-bars-inner">
<span class="rating-bars-rating poor" data-rating="2.0">
<span class="rating-bars-rating-inner" style="width:20%;"></span>
</span>
<strong>20%</strong>
</span>
</div>
</div> -->
</div>

<!-- Reviews -->
<div class="list-single-main-item fl-wrap">
<div class="list-single-main-item-title fl-wrap">
<h3>What People say about us  <span>  </span></h3>
</div>
<div class="reviews-comments-wrap">
<!-- reviews-comments-item -->  
<div class="reviews-comments-item">

<div class="reviews-comments-item-text">
<h4><a href="#">Josaph Manrty</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>27 Oct 2019</span></h4>

<div class="clearfix"></div>
<p>" Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.
        Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris. "</p>
<div class="pull-left reviews-reaction">
<a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
<a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
<a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
</div>
</div>
</div>
<!--reviews-comments-item end-->  


</div>
</div>

<!-- Submit Reviews -->
<div class="edu_wraper">
<h4 class="edu_title">Submit Reviews</h4>
<div class="review-form-box form-submit">
<form>
<div class="row">

<div class="col-lg-6 col-md-6 col-sm-12">
<div class="form-group">
<label>Name</label>
<input class="form-control" type="text" placeholder="Your Name">
</div>
</div>

<div class="col-lg-6 col-md-6 col-sm-12">
<div class="form-group">
<label>Email</label>
<input class="form-control" type="email" placeholder="Your Email">
</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
<div class="form-group">
<label>Review</label>
<textarea class="form-control ht-140" placeholder="Review"></textarea>
</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
<div class="form-group">
<button type="submit" class="btn btn-theme">Submit Review</button>
</div>
</div>

</div>
</form>
</div>
</div>

</div>

</div>
</div>

</div>

<div class="col-lg-4 col-md-4">

<!-- Course info -->
<div class="ed_view_box style_2 overlio " style="box-shadow: -1px 30px 62px -3px rgba(0,0,0,0.29);">

<div class="ed_author">
<div class="ed_author_thumb">
<img class="img-fluid" src="../../../static/assets_course_detail/img/ladalogo.png" alt="7.jpg">
</div>
<div class="ed_author_box">
<h4>Quick Facts on LADA</h4>

</div>
</div>


<div class="ed_view_features pl-4">
<span>Course Features</span>
<ul>
<li><i class="ti-angle-right"></i>Courses Delivered Online</li>
<li><i class="ti-angle-right"></i>Focus 100% on real-time topics of relevance to leadership and Development challenges facing Africa</li>
<li><i class="ti-angle-right"></i>Earn a Certificate upon completion of study</li>
<li><i class="ti-angle-right"></i>Lifetime access to Course Materials</li>
<li><i class="ti-angle-right"></i>24x7 Support</li>
</ul>
</div>
<div class="ed_view_link">
        {% if request.user.is_authenticated %}
<a style="background-color:#131b31" href="/courses" class="btn btn-theme enroll-btn">Find Course<i class="ti-angle-right"></i></a>
{%else%}
<a style="background-color:#131b31" href="/redirected_login" class="btn btn-theme enroll-btn">Find Course<i class="ti-angle-right"></i></a>
{%endif%}
</div>

</div>	

</div>

</div>

</div>
</section>
<!-- ============================ Course Detail ================================== -->



<!-- ---------------------------- -->
<!-- ============================== Start Newsletter ================================== -->
{% include 'publicpages/newsletter.html' %}
<!-- ================================= End Newsletter =============================== -->


<!-- Log In Modal -->
{% include 'publicpages/modal.html' %}
<!-- end modal -->
{% include "publicpages/footer.html" %}
  

<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->


{% include "publicpages/js/js.html" %}  
<div id="ajax_response_login"></div>
<div id="ajax_response_register"></div>
<div id="ajax_logout"></div>
 <div id="fb-root"></div>
{% endblock %}