{% extends 'publicpages/base.html' %}
{% load static %}
{% block content %}		
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
<!-- Start Navigation -->
{% include 'publicpages/publicpagesnavbar.html' %}
<!-- End Navigation -->
<div class="clearfix"></div>
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
<!-- ========================== About Facts List Section =============================== -->
<div class="image-cover half_banner">
        <div class="container ">
        
        <div class="row align-items-center">
        
        <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="list_facts_wrap">
        <div class="sec-heading mb-3">
        <h5><span class="theme-cl">THE LADA</span> is pleased to announce a call for applications for the Leadership and Development fellowships for African practitioners or Interested Scholarship starting in June 2020.</h5>
        </div>
        <div class="list_facts">
        <div class="list_facts_icons"><i class="ti-desktop"></i></div>
        <div class="list_facts_caption">
        <h4>Nemo enim ipsam voluptatem quia.</h4>
        <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure</p>
        </div>
        </div>
        <div class="list_facts">
        <div class="list_facts_icons"><i class="ti-heart"></i></div>
        <div class="list_facts_caption">
        <h4>Nemo enim ipsam voluptatem quia.</h4>
        <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure</p>
        </div>
        </div>

        
        </div>
        <a href="#" class="btn btn-modern">Start Application<span><i class="ti-arrow-right"></i></span></a>
        </div>
        
        <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="list_facts_wrap_img">
        
        <img src="assets/img/edu_2.png" class="img-fluid" alt="" />
        
        </div>
        </div>
        
        </div>
        
        </div>
    </div>    
        <!-- ========================== About Facts List Section =============================== -->

<!-- ========================== Featured Courses Section =============================== -->
<!-- ---------------------------- -->
<!-- ============================== Start Newsletter ================================== -->
{% include 'publicpages/newsletter.html' %}
<!-- ================================= End Newsletter =============================== -->


<!-- Log In Modal -->
{% include 'publicpages/modal.html' %}
<!-- end modal -->
{% include "publicpages/footer.html" %}
  

<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->


{% include "publicpages/js/js.html" %}  
<div id="ajax_response_login"></div>
<div id="ajax_response_register"></div>
<div id="ajax_logout"></div>
 <div id="fb-root"></div>
{% endblock %}