{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="Leadership and development academy virtual classroom for learners ">
        <meta name="keywords" content="Educational, teaching, courses, free, learning, courseware, course, online learning, online-learning, youtube lectures, lectures, lecture, exam, exams, essay, essays, tests, tests, quiz, quizzes">
        <link rel="shortcut icon" type="image/jpg" href="{% static 'img/logos/logo2.jpg' %}"/> 
        <title>Leadership and Development Academy</title>
     
        {% for local_css_url in local_css_urls %}
        <link rel="stylesheet" href="{% static local_css_url %}">
    {% endfor %}
      
      
            
     
        

       
</head>
<body class="red-skin ">
     
            <!-- ============================================================== -->
            <!-- Preloader - style you can find in spinners.css -->
            <!-- ============================================================== -->
            <div id="preloader"><div class="preloader"><span></span><span></span></div></div>
          
		

 
{% block content %}


{% endblock %}


    {% for local_js_url in local_js_urls %}
          <script src="{% static local_js_url %}"></script>
    {% endfor %}


</body>
</html>


