

{% load staticfiles %}

<!-- 0c0b11 -->
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
                <!-- ============================================================== -->
                <!-- Top header  -->
                <!-- ============================================================== -->
                <!-- Start Navigation -->
        
                <!-- End Navigation -->
                <div class="clearfix"></div>
                <!-- ============================================================== -->
                <!-- Top header  -->
                <!-- ============================================================== -->		
    
                
                <!-- ============================ Dashboard: Dashboard Start ================================== -->
                <section class="gray pt-0">
                    <div class="container-fluid">
                                            
                        <div class="row">
                        
                     
                      
                        </div>
                        
                    </div>
                </section>
 
        
                
                <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
                
    
            </div>
            <!-- ============================================================== -->
            <!-- End Wrapper -->
            <!-- ============================================================== -->
    
            <!-- ============================================================== -->
            <!-- All Jquery -->
            <!-- ============================================================== -->
        
            <script>
                $('#side-menu').metisMenu();
            </script>

  <script>
    $(document).ready(function(){
                      $('.dropdown-toggle').dropdown();
                      });
    </script>
