{% load staticfiles %}

<div class="col-lg-3 col-md-3 p-0">
        <div class="dashboard-navbar">
            
            <div class="d-user-avater">
                <img src="{% static 'assets_course_detail/img/ladalogo.png' %}" class="img-fluid avater" alt="">
                <h4 > <a  style="color:rgb(255, 255, 255)" href="/view/profile">{{course.title }} </a></h4>
                <span>BY : {{course.teacher}}</span>
            </div>
            
            <div class="d-navigation">
                <ul id="side-menu">

                    <li {% if tab == 'announcements' %}class="active "{% endif %}>
                    <a href="/course/{{ course.id }}/announcements"><i class="fa fa-fw fa-bullhorn"></i> Announcemts</a>
                   </li>
                    <li {% if tab == 'syllabus' %}class="active "{% endif %}>
                    <a href="/course/{{ course.id }}/syllabus"><i class="fa fa-book" aria-hidden="true"></i>
                        Syllabus</a>
                   </li>
                   <li {% if tab == 'policy' %}class="active "{% endif %}>
                        <a href="/course/{{ course.id }}/policy"><i class="fa fa-exclamation" aria-hidden="true"></i>
                            Grading and Policy</a>
                       </li>
                       <li {% if tab == 'lectures' %}class="active "{% endif %}>
                            <a href="/course/{{ course.id }}/lectures"><i class="ti-video-camera"></i> Lectures</a>
                           </li>
                           <li {% if tab == 'assignments' %}class="active "{% endif %}>
                                <a href="/course/{{ course.id }}/assignments"><i class="ti-book"></i> Assignments</a>
                               </li>
                               <li {% if tab == 'quizzes' %}class="active "{% endif %}>
                                    <a href="/course/{{ course.id }}/quizzes"><i class="fa fa-certificate" aria-hidden="true"></i>Quizzes</a>
                                   </li>
                                   <li {% if tab == 'exams' %}class="active "{% endif %}>
                                        <a href="/course/{{ course.id }}/exams"><i class="fa fa-bar-chart" aria-hidden="true"></i>
                                            Exams</a>
                                       </li>
                                       <li {% if tab == 'discussion' %}class="active "{% endif %}>
                                            <a href="/course/{{ course.id }}/discussion"><i class="fa fa-quora" aria-hidden="true"></i>
                                                Discussion</a>
                                           </li>
                                           <li {% if tab == 'credit' %}class="active "{% endif %}>
                                                <a href="/course/{{ course.id }}/credit"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                                    Credit</a>
                                               </li>
                                            
                
                    <li><a style="cursor: pointer;" onclick="ajax_logout(); "><i class="ti-power-off"></i>Log Out</a></li>
                </ul>
            </div>
            
        </div>
        
        
    </div>	