{% load staticfiles %}
<div class="modal fade" id="lecture_modal" role="dialog">
    <div class="modal-dialog" style="width:100%;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="btn btn-success pull-right" data-dismiss="modal">×</a>
                <h4>Lecture #{{ shortcourselecture.lecture_num }}: {{ shortcourselecture.title }}</h4>
            </div>


            <div class="modal-body">
                <form method=''
                      action=''
                        name="learnForm">
                {% if shortcourselecture.preferred_service == YOUTUBE_VIDEO_PLAYER %} <!-- YouTube -->
                <div class="embed-responsive embed-responsive-16by9">  
                        <iframe class="embed-responsive-item"
                                  src="{{ shortcourselecture.youtube_url }}"
                          frameborder="0"
                      allowfullscreen></iframe>
                    </div>
                {% elif shortcourselecture.preferred_service == VIMEO_VIDEO_PLAYER %} <!-- Vimeo -->
                        <iframe src="{{ shortcourselecture.vimeo_url }}"
                              width="720"
                             height="480"
                        frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                {% else %}
                ERROR {{ shortcourselecture.preferred_service }}
                {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        // When this model hides, we will clear the contents of it.
        $('#lecture_modal').on('hidden.bs.modal', function (e) {
            // Clear all the code inside this modal.
            $('#ajax_learn_lecture').html('');
            $('#play_{{ shortcourselecture.lecture_id }}_btn').prop("disabled", false); // Unlock button
        })