{% extends 'ecommerce_app/base.html' %}

{% block title %}
    My Cart |
{% endblock %}

{% block content %}
{% load static %}




<br><br>
<div class="section section-tabs">
  <div class="container">
    <!--                nav tabs	             -->
 
   
      <div class="row">
      
                <div class="col-md-6 ml-auto mr-auto text-center  p-5 bg-white rounded shadow-sm mb-5" >
              
                        <h3 class="card-description"> <b>STEP 1 of 3</b></h3>
                       <div class="p-5 rounded shadow-sm mb-5" style="background-color:#f3f3f3 ; ">
                      
                        <h4 class="card-description"><b> "</b> When you receive your Certificate, you have the credentials to justify the skills you have learned. You also have the confidence to take on new challenges toward trasforming your community and the world.<b> "</b></h4>
                        <a>
                              <img src="{% static 'img/logos/logo2.jpg' %}" style="width:120px; height:120px; padding: 5px;  ">
                            </a>
                  </div>
                          
                     
                    

        </div>
        <div class="col-md-4 ml-auto mr-auto p-5 bg-white rounded shadow-sm mb-5">
                <div class="card card-pricing card-plain">
                        <div class="card-body ">
                          <h6 class="card-category"></h6>
                          <h1 class="card-title">
                                {% for item in cart_items %}
                            <small>$</small>{{ item.price }}
                            <!-- <small>/mo</small> -->
                          </h1>
                          <ul>
                            <li>
                                <h4><b> Course  | {{ item.product.name }}  </li></b></h4>
                              
                            <!-- <li>
                              <b>Total cost</b> </li>
                            <li>
                              <b>55</b> Personal Contacts</li>
                            <li>
                              <b>5.000</b> Messages</li> -->
                          </ul>
                        </div>
                        {% endfor %}
                        {% if cart_item_count %}
             
                        <div class="card-footer justify-content-center">
                          <a href="{% url 'checkout' %}" class="btn btn-primary  btn-round">
                           Proceed to payment
                          </a>
                        </div>
                                  
                    {% endif %}
                      </div>
        </div>   
 
    </div>
  </div>
</div>


 


    {% include "landpage/main/js.html" %}  
    <div id="ajax_response_login"></div>
    <div id="ajax_response_register"></div>
    <div id="ajax_logout"></div>
    <div id="fb-root"></div>
{% endblock %}