{% extends 'ecommerce_app/base.html' %}

{% block title %}
    My Cart |
{% endblock %}

{% block content %}



<div class="pricing-2" id="pricing-2">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h2 class="title"> Best plan for you</h2>
              <ul class="nav nav-pills nav-pills-rose">
                <!-- <li class="nav-item">
                  <a class="nav-link active" href="#pill1" data-toggle="tab">Monthly</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="#pill2" data-toggle="tab">Until Course Completion</a>
                </li>
              </ul>
            </div>
          </div>
     
          <div class="row">
            <div class="col-md-6 col-lg-12">
              <div class="card card-pricing card-plain">
                <div class="card-body ">
                  <h6 class="card-category"></h6>
                  <h1 class="card-title">
                        {% for item in cart_items %}
                    <small>$</small>{{ item.price }}
                    <!-- <small>/mo</small> -->
                  </h1>
                  <ul>
                    <li>
                      <b></b> Course  | {{ item.product.name }}  </li>
                    <!-- <li>
                      <b>Total cost</b> </li>
                    <li>
                      <b>55</b> Personal Contacts</li>
                    <li>
                      <b>5.000</b> Messages</li> -->
                  </ul>
                </div>
                {% endfor %}
                {% if cart_item_count %}
     
                <div class="card-footer justify-content-center">
                  <a href="{% url 'checkout' %}" class="btn btn-rose btn-round">
                   Proceed to payment
                  </a>
                </div>
                          
            {% endif %}
              </div>
            </div>
   
        
          </div>
        </div>
      </div>
<!-- 
    <h2>My Cart</h2>
    
    {% if cart_item_count %}
    <table>
        <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
            <th></th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
                {% for item in cart_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="text" name="quantity" value="{{ item.quantity }}">
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                </td>
                <td>
                        <input type="submit" name="submit" value="Update">
                    </form>
                </td>
                <td>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <input type="submit" name="submit" value="Remove">
                    </form>
                </td>
                <td>${{ item.total_cost }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: right">Total</td>
                <td>${{ cart_subtotal }}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="4" style="text-align: right">
                    <a href="{% url 'index' %}" class="btn btn-primary">Continue Shopping</a>
                </td>
                {% if cart_item_count %}
                    <td><a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a></td>
                {% endif %}
            </tr>
        </tfoot>
    </table>
    {% else %}
        <p>Cart Empty</p>
    {% endif %} -->


{% endblock %}