{% extends 'ecommerce_app/base.html' %}


{% block title %}
    Checkout |
{% endblock %}

{% block content %}
<!-- <br><br><br><br><br><br>
    <div class="container">
        <div class="row">

            <h2>Checkout</h2>

            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}

            <div class="col-lg-8 col-sm-6 text-center" >
            <form action="" method="post">
                
                    {% csrf_token %}
                    {{ form.as_p }}
               
                     
                     <input type="submit" value="Place Order">
                 
             
            </form>
        </div>
    </div>
</div> -->


<div class="pricing-2" id="pricing-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">Validating your Details</h2>
          <ul class="nav nav-pills nav-pills-rose">
            <!-- <li class="nav-item">
              <a class="nav-link active" href="#pill1" data-toggle="tab">Monthly</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="#pill2" data-toggle="tab">kindly confirm your details below so that we can proceed with payments</a>
            </li>
          </ul>
        </div>
      </div>
 
      <div class="row">
        <div class="col-md-6 col-lg-12">
          <div class="card card-pricing card-plain">
            <div class="card-body ">
                <form action="" method="post">
                
                    {% csrf_token %}
                    {{ form.as_p }}
               
             
             
                 
                     <div class="card-footer justify-content-center">
                        <input type="submit" value="Place Order" class="btn btn-rose btn-round">
                       </div>
            </form>
            </div>
 
        
                      
    
          </div>
        </div>

    
      </div>
    </div>
  </div>
<!-- 



          <div class="card  card-plain card-nav-tabs"  style="background-color:#fff">
        <div class="card-body ">
    <div id="inputs">
            <div class="title">
              <h2><small>Confirm your details to proceed</small></h2>
              <h3><small>Just one more step to go!</small></h3>
            </div>
            <div class="container">
              <div class="row">
      
                  <h2>Checkout</h2>
      
                  {% for message in messages %}
                      <p>{{ message }}</p>
                  {% endfor %}
              
      
              </div>
          </div>
            <form action="" method="post" enctype="multipart/form-data" name="form" id="form">
              {% csrf_token %}   
                      
            <div class="row">
                   
              <div class="col-lg-4 col-sm-8">
                <div class="form-group ">
                  <label for="id_name" class="bmd-label-floating">Enter your name</label>
                  <input type="text" class="form-control" required id="id_name" >
                </div>
              </div>
              <div class="col-lg-4 col-sm-8">
                <div class="form-group ">
                  <label for="id_email" class="bmd-label-floating">enter your email </label>
                  <input  type="email" class="form-control" required id="id_email" >
                  <span class="input-group-text">
                    <i class="fa fa-group"></i>
                  </span>
                  <span class="form-control-feedback">
                    <i class="material-icons">done</i>
                  </span>
                  <span class="bmd-help">Kindly use the email you used to sign up on lada.</span>
    
                </div>
              </div>
               
              <div class="col-md-6 col-sm-8 ">
             
                  
                    
             
                      <div class="col d-flexjustify-content-center ">
                            <button class="btn btn-lg btn-primary btn-round"  type="submit"  >Confirm and proceed</button>                  
                                         </div>
                   
                  
                  </div>
    
   
            </div>
            </form>
          </div>
        </div>
    </div> -->
{% endblock %}
