{% extends 'ecommerce_app/base.html' %}
{% load staticfiles %}
{% block title %}
    Checkout |
{% endblock %}

{% block content %}

<br><br><br><br>

          <div class="card  card-plain card-nav-tabs"  style="background-color:#fff">
        <div class="card-body ">
    <div id="inputs">
            <div class="title">
              <h2><small>Confirm your details to proceed</small></h2>
              <h3><small>Just one more step to go!</small></h3>
            </div>
            <form action="" method="post" enctype="multipart/form-data" name="CheckoutForm" id="CheckoutForm">
              {% csrf_token %}   
                      
            <div class="row">
                   
              <div class="col-lg-4 col-sm-8">
                <div class="form-group ">
                  <label for="id_name" class="bmd-label-floating">Enter your name</label>
                  <input type="text" class="form-control" required id="id_name" >
                </div>
              </div>
              <div class="col-lg-4 col-sm-8">
                <div class="form-group ">
                  <label for="id_email" class="bmd-label-floating">enter your email </label>
                  <input  type="email" class="form-control" required id="id_email" >
                  <span class="input-group-text">
                    <i class="fa fa-group"></i>
                  </span>
                  <span class="form-control-feedback">
                    <i class="material-icons">done</i>
                  </span>
                  <span class="bmd-help">Kindly use the email you used to sign up on lada.</span>
    
                </div>
              </div>
               
              <div class="col-md-6 col-sm-8 ">
             
                  
                    
             
                      <div class="col d-flexjustify-content-center ">
                            <button class="btn btn-lg btn-primary btn-round"  type="submit"  >Confirm and proceed</button>                  
                                         </div>
                   
                  
                  </div>
    
   
            </div>
            </form>
          </div>
        </div>
    </div>
{% endblock %}
