{% extends 'ecommerce_app/base.html' %}
{% load staticfiles %}
{% block content %}

<br>
<br>

<br>
<br>
 <div class="row">
    <div class="col-lg-12 text-center">

      <!-- <h3 class="title">The following are available courses on LADA:</h3> -->
      <ul class="breadcrumb">
            <li class="active nav-link title ">
              The following are available courses on LADA:
            </li>
          
        </ul>
    
    </div>
</div>
<!-- <div class="buttons ">
        <a href="{% url 'show_cart' %}" class="btn btn-primary btn btn-round pull-right ">Cart: {{ cart_item_count }} item</a> 
    
      </div> -->
<div class="section section-blog">
    <div class="container">
      <div class="row " >
         {% for product in all_products %}
        <div class="col-md-4">
        <!-- <h3 class="title text-center">{{ course.title }}</h3>  -->
          <div class="card" style=" box-shadow: 0 8px 16px 0 #c5c5c5; padding:10px; border-radius: 6px;">
            <div class="card-header card-header-image" >
                    {% if product.image  %}
              <a href="#pablo">
                <img src="{{ product.image.url }}" height="200" width="200"   alt="">
                {% else %}
                <img src="{% static 'img/dummy.png' %}" height="200" width="200"   alt="">
                <!-- Missing Image! -->
            {% endif %}
              </a>
            </div>

     


            <div class="card-body">
            
              <h4 class="card-title text-center">
                <a href="{% url 'product_detail' product.pk product.slug %}">{{ product.name }}</a>
              </h4>
              <p class="card-text">
                    {{ product.description }}
              </p>
          <!-- <p class="card-description" >Durration: {{ course.start_date }} to {{ course.finish_date }}</p> -->

          <div class="buttons">
            <a href="{% url 'product_detail' product.pk product.slug %}"  class="btn btn-primary btn btn-round ">
                <strong>Enroll now</strong>  ${{ product.price }}
            </a>
          </div>


            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


{% endblock %}