{% extends 'ecommerce_app/base.html' %}
{% load staticfiles %}
{% block content %}

<br>
<br>

<br>




<div class="section section-blog">
    <h3 class="text-center" ><b>  The following are available courses on LADA:</b> </h3>
   
   
    <div class="container">
        <div class="col-lg-12"> 
       
      <div class="row " >

        
         {% for product in all_products %}
        <div class="col-md-4">
      
            <div class="card" style="width: 22rem; padding: 10px; box-shadow: 0 8px 16px 0 #c5c5c5;  border-radius: 6px;" >
                {% if product.image  %} 
              <img style="border-radius: 6px;  box-shadow: 0 8px 16px 0 #c5c5c5;" src="{{ product.image.url }}"
                class=" img-responsive" height="100%" width="100%"  alt="">
                {% else %}
                <img src="{% static 'img/dummy.png' %}" height="250" width="200"   alt="">
                <!-- Missing Image! -->
            {% endif %}
                
                <div class="card-body text-center">
                        <br>
                  <h5 class="card-title">{{ product.name }} </h5>
                
                  <p class="card-text">  {{ product.description }}</p>

                </div>
                <div class="col-md-12  ml-auto mr-auto text-center">
                 
                    <div class="buttons  ">
                      <a href="" class="btn btn-primary btn-sm btn-round " >
                        <span class="material-icons">
                            watch_later
                            </span>     12 months
                      </a>
                      <a href="" class="btn btn-primary btn-sm btn-round " >
                          <span class="material-icons">
                              monetization_on
                              </span>   {{ product.price }}
                      </a>
                      <a href="{% url 'product_detail' product.pk product.slug %}"  class="btn btn-primary btn btn-round ">
                          <strong>Quick overview  </strong> 
                      </a>
                    </div>
                  </div>
                      
                
             
              </div> 

       
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

     




  {% include "landpage/main/js.html" %}  
  <div id="ajax_response_login"></div>
  <div id="ajax_response_register"></div>
  <div id="ajax_logout"></div>
  <div id="fb-root"></div>
{% endblock %}