{% load staticfiles %}



<div class="col-md-3">
                               
    <div class="card" style=" box-shadow: 0 8px 16px 0 #c5c5c5;  border-radius: 6px;" >
            <img style="border-radius: 6px;  box-shadow: 0 8px 16px 0 #c5c5c5;" src="{{ modules.module_image.url }}"
            class=" img-responsive" height="100%" width="100%"  alt="">
            
            <div class="card-body text-center">
                    <br> {{ product.name}}
                  </h5>
            
             <h5 class="card-text">{{ modules.Module_duration}} </h5>
              <div class="col-md-12  ml-auto mr-auto text-center">
<!-- 
                  <div class="buttons">
                      <a href="" class="btn btn-default btn-round btn-sm " >
                          <span class="material-icons">
                              monetization_on
                              </span>    {{ product.price }} 
                        </a>
              <button class="btn btn-default btn-round btn-sm " data-toggle="modal" data-target="#smallAlertModal">
                 Enroll Now
                </button>
              </div> -->
          </div> 
             </div>
          </div> 
        </div>

   