{% extends 'ecommerce_app/base.html' %}
{% load staticfiles %}
{% block title %} Payment Done{% endblock %}
 
{% block content %}
<br><br><br><br><br><br>






          <div class="card  card-plain card-nav-tabs"  style="background-color:#fff">
        <div class="card-body ">
                <h2><small>Your payment completed Succesfuly.</small></h2>
                <h4><small>You will recieve an email from us shortly, with Instructions on how you will access the course content.</small></h4>
                <h6><small>kindly contact us  - support@leadershipanddevelopmentacademy if you dont recieve an email with instructions</small></h6>
        </div>
    </div>
{% endblock %}