{% extends 'ecommerce_app/base.html' %}
{% load staticfiles %}
{% block title %} Payment Cancelled{% endblock %}
 
{% block content %}
<br><br><br><br>






<div class="pricing-2" id="pricing-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Your payment was not completed.</h2>
        
        </div>
      </div>
 
      <div class="row">
        <div class="col-md-6 col-lg-12">
          <div class="card card-pricing card-plain">
            <div class="card-body " style="background-color: rgb(255, 255, 255)">
                <h3><small>This process was Cancelled.</small></h3>
                <h3><small>Kindly check your card balance and try again</small></h3>
            
              
          <div class=" justify-content-center">
            <a href="/payment" class="btn btn-outline-primary ">Browser courses? </a>                             
        </div>
            </div>
 
        
                      
    
          </div>
        </div>

    
      </div>
    </div>
  </div>
{% endblock %}