{% extends 'ecommerce_app/base.html' %}
{% load staticfiles %}
{% block title %}Make Payment{% endblock %}
 
{% block content %}
<div class="pricing-2" id="pricing-2">
    <div class="container">
        <br>       <br>
        <hr>
      <div class="row">
        
        <div class="col-md-6 ml-auto mr-auto text-center"  style="background-color:#fff">
          <h2 class="card-descreption"> <b>Pay with PayPal</b> </h2>
          <ul class="nav nav-pills nav-pills-rose">
            <!-- <li class="nav-item">
              <a class="nav-link active" href="#pill1" data-toggle="tab">Monthly</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="#pill2" data-toggle="tab">kindly confirm your details below so that we can proceed with payments</a>
            </li> -->
          </ul>
        </div>
   
      </div>
 
      <div class="row">
     
          <div class="col-md-6 ml-auto mr-auto col-lg-12">
              <div class="card card-pricing card-plain">
                <div class="card-body ">
                    {{ form.render }}
                </div>
     
            
                          
        
              </div>
            </div>
    
      </div>
    </div>
  </div>






          <!-- <div class="card  card-plain card-nav-tabs"  style="background-color:#fff">
        <div class="card-body ">
                <h2><small>Pay with PayPal</small></h2>
                {{ form.render }}
        </div>
    </div> -->
    {% include "landpage/main/js.html" %}  
    <div id="ajax_response_login"></div>
    <div id="ajax_response_register"></div>
    <div id="ajax_logout"></div>
    <div id="fb-root"></div>
{% endblock %}