{% extends 'ecommerce_app/base.html' %}




{% block content %}

    <!-- <div class="container">
        <div class="row">

            <p><a href="{% url 'index' %}">All Courses </a> &gt;
                {{ product.name }}
            </p>

                <h2>{{ product.name }}</h2>
                <p>Price ${{ product.price }}</p>

                <form action="{% url 'product_detail' product.id product.slug %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Add to cart" class="btn btn-primary" >
                </form>

        </div>

    </div> -->
    <br><br>
    <div class="section section-tabs">
      <div class="container">
        <!--                nav tabs	             -->
        <div id="nav-tabs">
       
          <div class="row">
            <div class="col-md-6">
              <h3>
                <small>Here is an Overview of {{ product.name }}</small>
              </h3>
              <!-- Tabs with icons on Card -->
              <div class="card card-nav-tabs">
                <div class="card-header card-header-primary">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#description" data-toggle="tab">
                            Description
                          </a>
                        </li>
                        <!-- <li class="nav-item">
                          <a class="nav-link" href="#messages" data-toggle="tab">
                            Messages
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            Settings
                          </a>
                        </li> -->
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="tab-content text-center">
                    <div class="tab-pane active" id="description">
                      <p>  {{ product.description }}</p>
                    </div>
                    <!-- <div class="tab-pane" id="messages">
                      <p>{{ product.name }} </p>
                    </div>
                    <div class="tab-pane" id="settings">
                      <p>I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it&#x2019;s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                    </div> -->
                  </div>
                </div>
              </div>
              <!-- End Tabs with icons on Card -->
            </div>
            <div class="col-md-4">
           <!-- <h3 class="title text-center">{{ course.title }}</h3>  -->
           <div class="card" style=" box-shadow: 0 8px 16px 0 #c5c5c5; padding:10px; border-radius: 6px;">
              <div class="card-header card-header-image" >
                      {% if product.image != None and product.image != '' %}
                <a href="#pablo">
                  <img src="{{ product.image.url }}" height="200" width="200"   alt="">
                  {% else %}
                  <img src="static/img/dummy.png"  alt="">
                  <!-- Missing Image! -->
              {% endif %}
                </a>
              </div>
              <div class="card-body text-center">
              
                <h4 class="card-title text-center">
                  <a href="{% url 'product_detail' product.pk product.slug %}">{{ product.name }}</a>
                </h4>
                <p class="card-text">
                      {{ product.description }}
                </p>
            <!-- <p class="card-description" >Durration: {{ course.start_date }} to {{ course.finish_date }}</p> -->
  
            <form action="{% url 'product_detail' product.id product.slug %}" method="post">
              {% csrf_token %}
              {{ form }}
              <input type="submit" value="Checkout" class="btn btn-primary " >
          </form>
  
  
              </div>
            </div>
            </div>    
          </div>
        </div>
      </div>
    </div>
    <!-- 	            end nav tabs -->

    <div class="section section-blog">
        <div class="container">
          <div class="row " >
        
            <div class="col-md-3">
           
            </div>
        
          </div>
        </div>
      </div>

{% endblock %}