{% extends 'ecommerce_app/base.html' %}


{% load staticfiles %}

{% block content %}

    <!-- <div class="container">
        <div class="row">

            <p><a href="{% url 'index' %}">All Courses </a> &gt;
                {{ product.name }}
            </p>

                <h2>{{ product.name }}</h2>
                <p>Price ${{ product.price }}</p>

                <form action="{% url 'product_detail' product.id product.slug %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Add to cart" class="btn btn-default" >
                </form>

        </div>

    </div> -->
<br>


    <div class="section section-tabs">
        <hr>
      <div class="container">
        <!--                nav tabs	             -->
        <div id="nav-tabs">
       
          <div class="row">
            <div class="col-md-12 ">
      
              <!-- Tabs with icons on Card -->
              <div class="card  card-plain card-nav-tabs"  style="background-color:#fff">
                <div class="card-header card-header-primary">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper ">
                      <ul class="nav nav-tabs  nav-justified" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active " href="#description" data-toggle="tab">
                            DESCRIPTION
                          </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#modules" data-toggle="tab">
                           MODULES
                            </a>
                          </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#requirements" data-toggle="tab">
                          REQUIREMENTS 
                          </a>
                        </li>
               
                       
                        <li class="nav-item">
                            <a class="nav-link" href="#apply" data-toggle="tab">
                           APPLY
                            </a>
                          </li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body ml-auto mr-auto  ">
                  <div class="tab-content ">
                    <div class="tab-pane active" id="description">
                        <h3>
                            <b>{{ product.name }}  Overview  </b> 
                   
                                 </h3>
                      <p class="  ">  {{ product.description }}</p>
                      <br>
                      <h3>
                          <b>  Course Structure  </b> 
                 
                               </h3>
                               <br>
                               <h3>
                                  <b>  Validation  </b> 
                         
                                       </h3>
                     
                    </div>
                    <div class="tab-pane" id="requirements">
                      <p>{{ product.requirements }} </p>
                    </div>
                  
                    <div class="tab-pane col-md-12 ml-auto mr-auto " id="modules" >
                        
                    
                        <embed src="{{ product.Course_module_file.url }}" frameborder="0" width="100%" height="250px" >

                            <button class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" >
                                Download Brochure
                              </button>
                      
                                      <br>           
                                      <br>  
                                   
                                             
                                   
                      
                
          

                   
                    
                      
                        </div>
              
                

                    <div class="tab-pane" id="apply">
                        
                     
                        <form action="{% url 'product_detail' product.id product.slug %}" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="START YOUR JOURNEY OF BECOMING A LEADER" class="btn btn-outline-primary " style="box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);" ></a>
                        </form>
                
                      </div>
                  </div>
                </div>
              </div>
  
              <!-- End Tabs with icons on Card -->
            </div>
            <!-- <div class="col-md-3">

           <div class="card" style=" box-shadow: 0 8px 16px 0 #c5c5c5;  border-radius: 6px;" >
              {% if product.image != None and product.image != '' %} 
            <img style="border-radius: 6px;  box-shadow: 0 8px 16px 0 #c5c5c5;" src="{{ product.image.url }}"
              class=" img-responsive" height="100%" width="100%"  alt="">
              {% else %}
              <img src="static/img/dummy.png"  alt="">
          {% endif %}
              
              <div class="card-body text-center">
                      <br>
<a href="{% url 'product_detail' product.pk product.slug %}">{{ product.name }}</a>
              
                <p class="card-text">   {{ product.description }}</p>
                <a href="#" class="btn btn-default" style="box-shadow: 0 8px 16px 0 #c5c5c5;">enroll</a>
              </div>
            </div> 

            <form action="{% url 'product_detail' product.id product.slug %}" method="post">
              {% csrf_token %}
              {{ form }}
              <input type="submit" value="Checkout" class="btn btn-default " >
          </form>
  
  
              </div> -->
            </div>
            </div>    
          </div>
        </div>
      </div>
    </div>
    <!-- 	            end nav tabs -->


     
        </div>


      
  
  
   
                        <!-- small modal -->
                   
                        <!--    end small modal -->

      {% include "landpage/main/js.html" %}  
      <div id="ajax_response_login"></div>
      <div id="ajax_response_register"></div>
      <div id="ajax_logout"></div>
      <div id="fb-root"></div>
{% endblock %}