{% extends 'ecommerce_app/base.html' %}


{% load staticfiles %}

{% block content %}

    <!-- <div class="container">
        <div class="row">

            <p><a href="{% url 'index' %}">All Courses </a> &gt;
                {{ product.name }}
            </p>

                <h2>{{ product.name }}</h2>
                <p>Price ${{ product.price }}</p>

                <form action="{% url 'product_detail' product.id product.slug %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Add to cart" class="btn btn-primary" >
                </form>

        </div>

    </div> -->
    <br><br>
    <div class="section section-tabs">
      <div class="container">
        <!--                nav tabs	             -->
        <div id="nav-tabs">
       
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>
         <b>{{ product.name }}  Overview  </b> 

              </h3>
              <br>
              <!-- Tabs with icons on Card -->
              <div class="card  card-plain card-nav-tabs"  style="background-color:#fff">
                <div class="card-header card-header-primary">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper ">
                      <ul class="nav nav-tabs  nav-justified" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#description" data-toggle="tab">
                            DESCRIPTION
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#requirements" data-toggle="tab">
                          REQUIREMENTS 
                          </a>
                        </li>
               
                        <li class="nav-item">
                            <a class="nav-link" href="#modules" data-toggle="tab">
                           MODULES
                            </a>
                          </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#apply" data-toggle="tab">
                           APPLY
                            </a>
                          </li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="tab-content ">
                    <div class="tab-pane active" id="description">
                        <h3>
                            <b>{{ product.name }}  Overview  </b> 
                   
                                 </h3>
                      <p >  {{ product.description }}</p>
                      <br>
                      <h3>
                          <b>  Course Structure  </b> 
                 
                               </h3>
                               <br>
                               <h3>
                                  <b>  Validation  </b> 
                         
                                       </h3>
                     
                    </div>
                    <div class="tab-pane" id="requirements">
                      <p>{{ product.requirements }} </p>
                    </div>
                    <div class="tab-pane" id="modules">
                      <div class="container">
                          <div class="col-lg-12"> 
                          <div class="row " >
                        
                            <div class="col-md-4">
                               
                                    <div class="card" style="width: 22rem; box-shadow: 0 8px 16px 0 #c5c5c5;  border-radius: 6px;" >
                                            <img style="border-radius: 6px;  box-shadow: 0 8px 16px 0 #c5c5c5;" src="{% static 'img/00.jpeg' %}"
                                            class=" img-responsive" height="100%" width="100%"  alt="">
                                            
                                            <div class="card-body text-center">
                                                    <br>
                                              <h5 class="card-title">Module 1</h5>
                                            
                                              <p class="card-text">Leadership</p>
                                              <form action="{% url 'product_detail' product.id product.slug %}" method="post">
                                                  {% csrf_token %}
                                                  {{ form }}
                                                  <input type="submit" value="Enroll" class="btn btn-primary " >
                                              </form>                                            </div>
                                          </div> 
                            </div>
                
                            <div class="col-md-4">
                               
                                <div class="card" style="width: 22rem; box-shadow: 0 8px 16px 0 #c5c5c5;  border-radius: 6px;" >
                                        <img style="border-radius: 6px;  box-shadow: 0 8px 16px 0 #c5c5c5;" src="{% static 'img/00.jpeg' %}"
                                        class=" img-responsive" height="100%" width="100%"  alt="">
                                        
                                        <div class="card-body text-center">
                                                <br>
                                          <h5 class="card-title">Module 2 </h5>
                                        
                                          <p class="card-text">Transformational Leadership</p>
                                          <form action="{% url 'product_detail' product.id product.slug %}" method="post">
                                              {% csrf_token %}
                                              {{ form }}
                                              <input type="submit" value="Enroll" class="btn btn-primary " >
                                          </form>                                        </div>
                                      </div> 
                        </div>
                        <div class="col-md-4">
                               
                            <div class="card" style="width: 22rem; box-shadow: 0 8px 16px 0 #c5c5c5;  border-radius: 6px;" >
                                    <img style="border-radius: 6px;  box-shadow: 0 8px 16px 0 #c5c5c5;" src="{% static 'img/00.jpeg' %}"
                                    class=" img-responsive" height="100%" width="100%"  alt="">
                                    
                                    <div class="card-body text-center">
                                            <br>
                                      <h5 class="card-title">Module 3</h5>
                                    
                                      <p class="card-text">Leadership intelligence</p>
                                      <form action="{% url 'product_detail' product.id product.slug %}" method="post">
                                          {% csrf_token %}
                                          {{ form }}
                                          <input type="submit" value="Enroll" class="btn btn-primary " >
                                      </form>                                    </div>
                                  </div> 
                    </div>
                            </div>
                          </div>
                        
                          </div>

                   </div>

                    <div class="tab-pane" id="apply">
                        <form action="{% url 'product_detail' product.id product.slug %}" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="Enroll" class="btn btn-primary " >
                        </form>
                
                      </div>
                  </div>
                </div>
              </div>
              <!-- End Tabs with icons on Card -->
            </div>
            <!-- <div class="col-md-4">

           <div class="card" style="width: 22rem; box-shadow: 0 8px 16px 0 #c5c5c5;  border-radius: 6px;" >
              {% if product.image != None and product.image != '' %} 
            <img style="border-radius: 6px;  box-shadow: 0 8px 16px 0 #c5c5c5;" src="{{ product.image.url }}"
              class=" img-responsive" height="100%" width="100%"  alt="">
              {% else %}
              <img src="static/img/dummy.png"  alt="">
          {% endif %}
              
              <div class="card-body text-center">
                      <br>
<a href="{% url 'product_detail' product.pk product.slug %}">{{ product.name }}</a>
              
                <p class="card-text">   {{ product.description }}</p>
                <a href="#" class="btn btn-primary" style="box-shadow: 0 8px 16px 0 #c5c5c5;">enroll</a>
              </div>
            </div> 

            <form action="{% url 'product_detail' product.id product.slug %}" method="post">
              {% csrf_token %}
              {{ form }}
              <input type="submit" value="Checkout" class="btn btn-primary " >
          </form>
  
  
              </div> -->
            </div>
            </div>    
          </div>
        </div>
      </div>
    </div>
    <!-- 	            end nav tabs -->


     
        </div>


      
  
  
   


      {% include "landpage/main/js.html" %}  
      <div id="ajax_response_login"></div>
      <div id="ajax_response_register"></div>
      <div id="ajax_logout"></div>
      <div id="fb-root"></div>
{% endblock %}