{% autoescape off %}

Hello, {{ user.first_name }} 
You're receiving this email because you requested a password reset for your user account at LADA.
To initiate the password reset process for your {{ user.get_username }} Account,

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'PasswordResetConfirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the link in a new browser
window instead.

Your username, in case you've forgotten: {{ user.get_username }}
Sincerely,

Thanks for choosing us!
The LADA Tech Team

{% endautoescape %}
